* {
  margin: 0;
  padding: 0;
}

.error-pic {
  display: flex;
}
.error-pic img {
  width: 128px;
  height: 96px;
  margin: 5px;
  object-fit: cover;
}
.error-pic img[src$="break.svg"] {
  object-fit: contain;
  outline: 1px solid #ddd;
  outline-offset: -1px;
}

.error-pic-recommend {
  display: flex;
}
.error-pic-recommend img {
  width: 128px;
  height: 96px;
  margin: 5px;
  object-fit: cover;
}
.error-pic-recommend img.error {
  display: inline-block;
  transform: scale(1);
  content: "";
  color: transparent;
}
.error-pic-recommend img.error::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5 url(images/break.svg) no-repeat center/50% 50%;
}
.error-pic-recommend img.error::after {
  content: attr(alt);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}