body {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.g-container {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
  grid-area: 7/6/12/15;
}
.g-container .g-content {
  height: inherit;
  filter: contrast(20);
  background-color: #fff;
  overflow: hidden;
}
.g-container .g-filter {
  height: inherit;
  filter: blur(10px);
  background: radial-gradient(circle at 50% -10px, transparent 0, transparent 39px, #000 40px, #000);
}

.filter-arc {
  position: relative;
  width: 250px;
  height: 250px;
  filter: contrast(20);
  background-color: #fff;
  overflow: hidden;
  clip: rect(200px, 100px, 100px, 50px);
}
.filter-arc::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  filter: blur(7px);
  border: 25px solid transparent;
  border-bottom-color: #000;
  border-radius: 50%;
}

.g-coupon {
  position: relative;
  margin: auto;
  width: 380px;
  padding-top: 100px;
  filter: contrast(20);
  background-color: #fff;
  overflow: hidden;
}
.g-coupon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.g-coupon-inner {
  position: relative;
  width: 480px;
  height: 100px;
  transform: translate(0, 0);
  background: radial-gradient(circle at 20px 0, transparent, transparent 20px, #000 21px, #000 40px);
  background-size: 80px 100%;
  animation: move 1s infinite linear;
}

@keyframes move {
  100% {
    transform: translate(-80px, 0);
  }
}
.g-triangle {
  width: 0;
  height: 0;
  grid-area: 5/2/4/8;
  border: 60px solid transparent;
  border-left: 120px solid red;
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='blur' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='table' tableValues='0 0 10'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3C/svg%3E#blur");
}

.mask-demo {
  position: relative;
  width: 500px;
  height: 200px;
  background: url(../../../../assets/images/bg.jpeg) no-repeat;
}
.mask-demo::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../../../assets/images/sky.jpg);
  animation: maskRotate 1.2s ease-in-out;
}

@keyframes maskRotate {
  0% {
    mask: linear-gradient(45deg, #000 0%, transparent 5%, transparent 1%);
  }
  1% {
    mask: linear-gradient(45deg, #000 1%, transparent 6%, transparent 1%);
  }
  2% {
    mask: linear-gradient(45deg, #000 2%, transparent 7%, transparent 1%);
  }
  3% {
    mask: linear-gradient(45deg, #000 3%, transparent 8%, transparent 1%);
  }
  4% {
    mask: linear-gradient(45deg, #000 4%, transparent 9%, transparent 1%);
  }
  5% {
    mask: linear-gradient(45deg, #000 5%, transparent 10%, transparent 1%);
  }
  6% {
    mask: linear-gradient(45deg, #000 6%, transparent 11%, transparent 1%);
  }
  7% {
    mask: linear-gradient(45deg, #000 7%, transparent 12%, transparent 1%);
  }
  8% {
    mask: linear-gradient(45deg, #000 8%, transparent 13%, transparent 1%);
  }
  9% {
    mask: linear-gradient(45deg, #000 9%, transparent 14%, transparent 1%);
  }
  10% {
    mask: linear-gradient(45deg, #000 10%, transparent 15%, transparent 1%);
  }
  11% {
    mask: linear-gradient(45deg, #000 11%, transparent 16%, transparent 1%);
  }
  12% {
    mask: linear-gradient(45deg, #000 12%, transparent 17%, transparent 1%);
  }
  13% {
    mask: linear-gradient(45deg, #000 13%, transparent 18%, transparent 1%);
  }
  14% {
    mask: linear-gradient(45deg, #000 14%, transparent 19%, transparent 1%);
  }
  15% {
    mask: linear-gradient(45deg, #000 15%, transparent 20%, transparent 1%);
  }
  16% {
    mask: linear-gradient(45deg, #000 16%, transparent 21%, transparent 1%);
  }
  17% {
    mask: linear-gradient(45deg, #000 17%, transparent 22%, transparent 1%);
  }
  18% {
    mask: linear-gradient(45deg, #000 18%, transparent 23%, transparent 1%);
  }
  19% {
    mask: linear-gradient(45deg, #000 19%, transparent 24%, transparent 1%);
  }
  20% {
    mask: linear-gradient(45deg, #000 20%, transparent 25%, transparent 1%);
  }
  21% {
    mask: linear-gradient(45deg, #000 21%, transparent 26%, transparent 1%);
  }
  22% {
    mask: linear-gradient(45deg, #000 22%, transparent 27%, transparent 1%);
  }
  23% {
    mask: linear-gradient(45deg, #000 23%, transparent 28%, transparent 1%);
  }
  24% {
    mask: linear-gradient(45deg, #000 24%, transparent 29%, transparent 1%);
  }
  25% {
    mask: linear-gradient(45deg, #000 25%, transparent 30%, transparent 1%);
  }
  26% {
    mask: linear-gradient(45deg, #000 26%, transparent 31%, transparent 1%);
  }
  27% {
    mask: linear-gradient(45deg, #000 27%, transparent 32%, transparent 1%);
  }
  28% {
    mask: linear-gradient(45deg, #000 28%, transparent 33%, transparent 1%);
  }
  29% {
    mask: linear-gradient(45deg, #000 29%, transparent 34%, transparent 1%);
  }
  30% {
    mask: linear-gradient(45deg, #000 30%, transparent 35%, transparent 1%);
  }
  31% {
    mask: linear-gradient(45deg, #000 31%, transparent 36%, transparent 1%);
  }
  32% {
    mask: linear-gradient(45deg, #000 32%, transparent 37%, transparent 1%);
  }
  33% {
    mask: linear-gradient(45deg, #000 33%, transparent 38%, transparent 1%);
  }
  34% {
    mask: linear-gradient(45deg, #000 34%, transparent 39%, transparent 1%);
  }
  35% {
    mask: linear-gradient(45deg, #000 35%, transparent 40%, transparent 1%);
  }
  36% {
    mask: linear-gradient(45deg, #000 36%, transparent 41%, transparent 1%);
  }
  37% {
    mask: linear-gradient(45deg, #000 37%, transparent 42%, transparent 1%);
  }
  38% {
    mask: linear-gradient(45deg, #000 38%, transparent 43%, transparent 1%);
  }
  39% {
    mask: linear-gradient(45deg, #000 39%, transparent 44%, transparent 1%);
  }
  40% {
    mask: linear-gradient(45deg, #000 40%, transparent 45%, transparent 1%);
  }
  41% {
    mask: linear-gradient(45deg, #000 41%, transparent 46%, transparent 1%);
  }
  42% {
    mask: linear-gradient(45deg, #000 42%, transparent 47%, transparent 1%);
  }
  43% {
    mask: linear-gradient(45deg, #000 43%, transparent 48%, transparent 1%);
  }
  44% {
    mask: linear-gradient(45deg, #000 44%, transparent 49%, transparent 1%);
  }
  45% {
    mask: linear-gradient(45deg, #000 45%, transparent 50%, transparent 1%);
  }
  46% {
    mask: linear-gradient(45deg, #000 46%, transparent 51%, transparent 1%);
  }
  47% {
    mask: linear-gradient(45deg, #000 47%, transparent 52%, transparent 1%);
  }
  48% {
    mask: linear-gradient(45deg, #000 48%, transparent 53%, transparent 1%);
  }
  49% {
    mask: linear-gradient(45deg, #000 49%, transparent 54%, transparent 1%);
  }
  50% {
    mask: linear-gradient(45deg, #000 50%, transparent 55%, transparent 1%);
  }
  51% {
    mask: linear-gradient(45deg, #000 51%, transparent 56%, transparent 1%);
  }
  52% {
    mask: linear-gradient(45deg, #000 52%, transparent 57%, transparent 1%);
  }
  53% {
    mask: linear-gradient(45deg, #000 53%, transparent 58%, transparent 1%);
  }
  54% {
    mask: linear-gradient(45deg, #000 54%, transparent 59%, transparent 1%);
  }
  55% {
    mask: linear-gradient(45deg, #000 55%, transparent 60%, transparent 1%);
  }
  56% {
    mask: linear-gradient(45deg, #000 56%, transparent 61%, transparent 1%);
  }
  57% {
    mask: linear-gradient(45deg, #000 57%, transparent 62%, transparent 1%);
  }
  58% {
    mask: linear-gradient(45deg, #000 58%, transparent 63%, transparent 1%);
  }
  59% {
    mask: linear-gradient(45deg, #000 59%, transparent 64%, transparent 1%);
  }
  60% {
    mask: linear-gradient(45deg, #000 60%, transparent 65%, transparent 1%);
  }
  61% {
    mask: linear-gradient(45deg, #000 61%, transparent 66%, transparent 1%);
  }
  62% {
    mask: linear-gradient(45deg, #000 62%, transparent 67%, transparent 1%);
  }
  63% {
    mask: linear-gradient(45deg, #000 63%, transparent 68%, transparent 1%);
  }
  64% {
    mask: linear-gradient(45deg, #000 64%, transparent 69%, transparent 1%);
  }
  65% {
    mask: linear-gradient(45deg, #000 65%, transparent 70%, transparent 1%);
  }
  66% {
    mask: linear-gradient(45deg, #000 66%, transparent 71%, transparent 1%);
  }
  67% {
    mask: linear-gradient(45deg, #000 67%, transparent 72%, transparent 1%);
  }
  68% {
    mask: linear-gradient(45deg, #000 68%, transparent 73%, transparent 1%);
  }
  69% {
    mask: linear-gradient(45deg, #000 69%, transparent 74%, transparent 1%);
  }
  70% {
    mask: linear-gradient(45deg, #000 70%, transparent 75%, transparent 1%);
  }
  71% {
    mask: linear-gradient(45deg, #000 71%, transparent 76%, transparent 1%);
  }
  72% {
    mask: linear-gradient(45deg, #000 72%, transparent 77%, transparent 1%);
  }
  73% {
    mask: linear-gradient(45deg, #000 73%, transparent 78%, transparent 1%);
  }
  74% {
    mask: linear-gradient(45deg, #000 74%, transparent 79%, transparent 1%);
  }
  75% {
    mask: linear-gradient(45deg, #000 75%, transparent 80%, transparent 1%);
  }
  76% {
    mask: linear-gradient(45deg, #000 76%, transparent 81%, transparent 1%);
  }
  77% {
    mask: linear-gradient(45deg, #000 77%, transparent 82%, transparent 1%);
  }
  78% {
    mask: linear-gradient(45deg, #000 78%, transparent 83%, transparent 1%);
  }
  79% {
    mask: linear-gradient(45deg, #000 79%, transparent 84%, transparent 1%);
  }
  80% {
    mask: linear-gradient(45deg, #000 80%, transparent 85%, transparent 1%);
  }
  81% {
    mask: linear-gradient(45deg, #000 81%, transparent 86%, transparent 1%);
  }
  82% {
    mask: linear-gradient(45deg, #000 82%, transparent 87%, transparent 1%);
  }
  83% {
    mask: linear-gradient(45deg, #000 83%, transparent 88%, transparent 1%);
  }
  84% {
    mask: linear-gradient(45deg, #000 84%, transparent 89%, transparent 1%);
  }
  85% {
    mask: linear-gradient(45deg, #000 85%, transparent 90%, transparent 1%);
  }
  86% {
    mask: linear-gradient(45deg, #000 86%, transparent 91%, transparent 1%);
  }
  87% {
    mask: linear-gradient(45deg, #000 87%, transparent 92%, transparent 1%);
  }
  88% {
    mask: linear-gradient(45deg, #000 88%, transparent 93%, transparent 1%);
  }
  89% {
    mask: linear-gradient(45deg, #000 89%, transparent 94%, transparent 1%);
  }
  90% {
    mask: linear-gradient(45deg, #000 90%, transparent 95%, transparent 1%);
  }
  91% {
    mask: linear-gradient(45deg, #000 91%, transparent 96%, transparent 1%);
  }
  92% {
    mask: linear-gradient(45deg, #000 92%, transparent 97%, transparent 1%);
  }
  93% {
    mask: linear-gradient(45deg, #000 93%, transparent 98%, transparent 1%);
  }
  94% {
    mask: linear-gradient(45deg, #000 94%, transparent 99%, transparent 1%);
  }
  95% {
    mask: linear-gradient(45deg, #000 95%, transparent 100%, transparent 1%);
  }
  96% {
    mask: linear-gradient(45deg, #000 96%, transparent 101%, transparent 1%);
  }
  97% {
    mask: linear-gradient(45deg, #000 97%, transparent 102%, transparent 1%);
  }
  98% {
    mask: linear-gradient(45deg, #000 98%, transparent 103%, transparent 1%);
  }
  99% {
    mask: linear-gradient(45deg, #000 99%, transparent 104%, transparent 1%);
  }
  100% {
    mask: linear-gradient(45deg, #000 100%, transparent 105%, transparent 1%);
  }
}
.btn-filter {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: red;
  margin: 40px;
}
.btn-filter:hover {
  filter: blur(2);
  box-shadow: 0 0 20px 0 #228dff;
  transition: all 0.3s;
}