.flotage-x {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0.2rem;
}

.flotage-x dd {
  min-width: 0.44rem;
  margin: 0.1rem;
  padding: 0.03rem 0.1rem;
  border-radius: 0.16rem;
  border: 1px solid rgba(222, 89, 27, 0.56);
  box-shadow: 0 -0.06rem 0.1rem rgba(255, 201, 201, 0.4) inset;
}

.flotage-x dd:first-child {
  animation: flash 0.1s, bounce 2.6s linear forwards infinite;
}

.flotage-x dd:nth-child(2) {
  animation: flash 0.1s 0.14s, bounce 2.64s linear forwards infinite;
}

.flotage-x dd:nth-child(3) {
  animation: flash 0.1s 0.16s, bounce 2.68s linear forwards infinite;
}

.flotage-x dd:nth-child(4) {
  animation: flash 0.1s 0.18s, bounce 2.72s linear forwards infinite;
}

.flotage-x dd:nth-child(5) {
  animation: flash 0.1s 0.2s, bounce 2.76s linear forwards infinite;
}

.flotage-x dd:nth-child(6) {
  animation: flash 0.1s 0.22s, bounce 2.8s linear forwards infinite;
}

.flotage-x dd:nth-child(7) {
  animation: flash 0.1s 0.24s, bounce 2.84s linear forwards infinite;
}

.flotage-x dd:nth-child(8) {
  animation: flash 0.1s 0.26s, bounce 2.88s linear forwards infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5px, 0);
  }
}

.bag-x {
  position: relative;
  width: 100%;
  height: 2.95rem;
  background: url("images/openbag.png") no-repeat center center;
  background-size: contain;
  overflow: hidden;
}

.bag-x.active {
  background-image: url("images/bag.png");
}

.bag-x.animate {
  transform-origin: 50% 100%;
  animation: shake 0.7s ease-in-out 0s both infinite;
}

.bag-x .open-btn {
  position: absolute;
  bottom: 0.32rem;
  left: 50%;
  width: 1rem;
  height: 0.9rem;
  font-size: 0;
  color: transparent;
  display: block;
  margin: 0;
  margin-left: -0.53rem;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
}

.bag-x .open-btn:focus-within .bag-x .open-btn:active {
  opacity: 0;
}

@keyframes shake {
  0% {
    transform: translateY(0) scaleX(1);
  }
  30% {
    transform: translateY(-25px) scale3d(1.15, 0.95, 1);
  }
  40% {
    transform: scale3d(0.95, 1.15, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: translateY(0) scaleX(1);
  }
}

.reverse-rotate,
.ratate {
  width: 1rem;
  height: 0.5rem;
  transform-style: preserve-3d;
  perspective: 500px;
}

.reverse-rotate {
  margin: 20vh auto;
}

.content {
  width: 100%;
  height: 100%;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.5rem;
  background: palegoldenrod;
  box-shadow: 0px 0px 8px 2px rgba(100, 100, 100, 0.6);
  transform-style: preserve-3d;
  perspective: 500px;
}

.rotate {
  animation: rotate 5s linear infinite;
}

.reverse-rotate {
  animation: reverseRotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(40deg) rotateZ(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateZ(360deg);
  }
}

@keyframes reverseRotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
