body {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  margin: 0;
  display: flex;
}

h1 {
  color: white;
  margin-top: 40px;
  text-align: center;
}

.cards-wrap {
  position: relative;
  margin-top: 10px;
  width: 380px;
  height: 500px;
  margin: auto;
  perspective: 100px;
  perspective-origin: 50% 90%;
}

.card-x {
  width: 320px;
  height: 400px;
  padding: 24px 30px;
  color: #333;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  transform-origin: 50% 50%;
  transition: all 0.8s;
  overflow: hidden;
  box-sizing: border-box;
}
.card-x:nth-child(1) {
  transform: translate3d(0, 0, calc((1 - 1) * -10px));
  z-index: calc(20 - 1);
}
.card-x:nth-child(2) {
  transform: translate3d(0, 0, calc((2 - 1) * -10px));
  z-index: calc(20 - 2);
}
.card-x:nth-child(3) {
  transform: translate3d(0, 0, calc((3 - 1) * -10px));
  z-index: calc(20 - 3);
}
.card-x:nth-child(4) {
  transform: translate3d(0, 0, calc((4 - 1) * -10px));
  z-index: calc(20 - 4);
}
.card-x:nth-child(5) {
  transform: translate3d(0, 0, calc((5 - 1) * -10px));
  z-index: calc(20 - 5);
}
.card-x:nth-child(6) {
  transform: translate3d(0, 0, calc((6 - 1) * -10px));
  z-index: calc(20 - 6);
}
.card-x:nth-child(7) {
  transform: translate3d(0, 0, calc((7 - 1) * -10px));
  z-index: calc(20 - 7);
}
.card-x:nth-child(8) {
  transform: translate3d(0, 0, calc((8 - 1) * -10px));
  z-index: calc(20 - 8);
}
.card-x:nth-child(9) {
  transform: translate3d(0, 0, calc((9 - 1) * -10px));
  z-index: calc(20 - 9);
}
.card-x:nth-child(10) {
  transform: translate3d(0, 0, calc((10 - 1) * -10px));
  z-index: calc(20 - 10);
}
.card-x:nth-child(11) {
  transform: translate3d(0, 0, calc((11 - 1) * -10px));
  z-index: calc(20 - 11);
}
.card-x:nth-child(12) {
  transform: translate3d(0, 0, calc((12 - 1) * -10px));
  z-index: calc(20 - 12);
}
.card-x:nth-child(13) {
  transform: translate3d(0, 0, calc((13 - 1) * -10px));
  z-index: calc(20 - 13);
}
.card-x:nth-child(14) {
  transform: translate3d(0, 0, calc((14 - 1) * -10px));
  z-index: calc(20 - 14);
}
.card-x:nth-child(15) {
  transform: translate3d(0, 0, calc((15 - 1) * -10px));
  z-index: calc(20 - 15);
}
.card-x:nth-child(16) {
  transform: translate3d(0, 0, calc((16 - 1) * -10px));
  z-index: calc(20 - 16);
}
.card-x:nth-child(17) {
  transform: translate3d(0, 0, calc((17 - 1) * -10px));
  z-index: calc(20 - 17);
}
.card-x:nth-child(18) {
  transform: translate3d(0, 0, calc((18 - 1) * -10px));
  z-index: calc(20 - 18);
}
.card-x:nth-child(19) {
  transform: translate3d(0, 0, calc((19 - 1) * -10px));
  z-index: calc(20 - 19);
}
.card-x:nth-child(20) {
  transform: translate3d(0, 0, calc((20 - 1) * -10px));
  z-index: calc(20 - 20);
}
.card-x:not(:first-child) {
  opacity: 0.95;
}
.card-x.move {
  transform: rotate(30deg) translate3d(120%, -50%, 0px) !important;
  opacity: 0;
  visibility: hidden;
}
.card-x h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
}
.card-x.show h5 {
  animation: backInDown 0.3s;
  transform-origin: 0 50%;
}
.card-x.show .option {
  animation: backInLeft 0.3s linear 1 backwards;
}
.card-x.show .option:nth-child(1) {
  animation-delay: calc((1 - 1) * 0.15s);
}
.card-x.show .option:nth-child(2) {
  animation-delay: calc((2 - 1) * 0.15s);
}
.card-x.show .option:nth-child(3) {
  animation-delay: calc((3 - 1) * 0.15s);
}
.card-x.show .option:nth-child(4) {
  animation-delay: calc((4 - 1) * 0.15s);
}
.card-x.show .option:nth-child(5) {
  animation-delay: calc((5 - 1) * 0.15s);
}

.option {
  width: 100%;
  padding: 18px 10px 18px 84px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  background-color: rgb(76, 127, 167);
  border-radius: 4px;
}
.option:hover, .option.checked {
  background: #faeeee;
}

@-webkit-keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-100%) scale(0.7);
    transform: translateX(-100%) scale(0.7);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translateX(0) scale(0.7);
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-100%) scale(0.7);
    transform: translateX(-100%) scale(0.7);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translateX(0) scale(0.7);
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes backInDown {
  0% {
    -webkit-transform: translateY(-100%) scale(0.7);
    transform: translateY(-100%) scale(0.7);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInDown {
  0% {
    -webkit-transform: translateY(-100%) scale(0.7);
    transform: translateY(-100%) scale(0.7);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}