@charset "UTF-8";
body {
  display: flex;
  min-height: 100vh;
}

.cs-like {
  position: relative;
  width: 50px;
  height: 50px;
  background: none;
  line-height: 1;
  margin: auto;
}
.cs-like li {
  opacity: 0;
  transition: 1.5s opacity 0.8s;
}
.cs-like li:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(3.7469811905deg);
  animation: move 2453.7425338171ms infinite -2.3152277441s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(1)::before {
  position: absolute;
  font-size: 50px;
  content: "🤘";
}
.cs-like li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(36.3062593434deg);
  animation: move 2992.0338218546ms infinite -0.655801425s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(2)::before {
  position: absolute;
  font-size: 50px;
  content: "🐮";
}
.cs-like li:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(17.3770104065deg);
  animation: move 1640.8440195216ms infinite -3.5906550218s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(3)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(26.5184171371deg);
  animation: move 2730.0140410987ms infinite -0.1921847563s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(4)::before {
  position: absolute;
  font-size: 50px;
  content: "💚";
}
.cs-like li:nth-child(5) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(26.0677869854deg);
  animation: move 1848.5587992543ms infinite -2.4658572321s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(5)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(6) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(28.1996658038deg);
  animation: move 2118.3851054806ms infinite -1.1463664401s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(6)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(7) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-25.0530442457deg);
  animation: move 3979.2311932161ms infinite -2.2570492075s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(7)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(8) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-34.1626329deg);
  animation: move 2242.3152456959ms infinite -1.4198174559s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(8)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(9) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-4.5919624871deg);
  animation: move 2742.8944721865ms infinite -2.0082795891s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(9)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(10) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(32.409943053deg);
  animation: move 3380.7892900733ms infinite -3.10903782s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(10)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(11) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-21.9514871904deg);
  animation: move 1687.8030680408ms infinite -2.5240557407s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(11)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(12) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-2.6515328229deg);
  animation: move 2639.9752248662ms infinite -1.3340140997s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(12)::before {
  position: absolute;
  font-size: 50px;
  content: "🤣";
}
.cs-like li:nth-child(13) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-27.2311926155deg);
  animation: move 2532.6496731396ms infinite -2.7653045386s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(13)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:nth-child(14) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-37.3486063932deg);
  animation: move 2793.6710602951ms infinite -3.1531978953s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(14)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(15) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-24.0313993752deg);
  animation: move 1753.9520019612ms infinite -0.4082528115s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(15)::before {
  position: absolute;
  font-size: 50px;
  content: "💚";
}
.cs-like li:nth-child(16) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-31.3849801161deg);
  animation: move 2660.5269718094ms infinite -2.7811040221s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(16)::before {
  position: absolute;
  font-size: 50px;
  content: "👍🏼";
}
.cs-like li:nth-child(17) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-10.1684486259deg);
  animation: move 1647.9638354956ms infinite -2.0504569177s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(17)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(18) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-18.5446505413deg);
  animation: move 3070.1411230954ms infinite -1.4810513159s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(18)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(19) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(10.3130799777deg);
  animation: move 1849.1748145235ms infinite -2.4420185658s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(19)::before {
  position: absolute;
  font-size: 50px;
  content: "🤘";
}
.cs-like li:nth-child(20) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-26.9734636998deg);
  animation: move 2971.2954330938ms infinite -0.5736439744s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(20)::before {
  position: absolute;
  font-size: 50px;
  content: "🤣";
}
.cs-like li:nth-child(21) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(16.876663357deg);
  animation: move 2995.0832537745ms infinite -3.5518096914s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(21)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(22) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(14.1537254306deg);
  animation: move 1851.8926825385ms infinite -2.892707438s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(22)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(23) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(14.0294443146deg);
  animation: move 2505.2731129388ms infinite -1.511018594s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(23)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(24) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-33.7523245093deg);
  animation: move 3853.2819754235ms infinite -1.6520250044s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(24)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(25) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-13.4820562688deg);
  animation: move 2796.7455468949ms infinite -0.4613050475s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(25)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(26) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(33.306370632deg);
  animation: move 2152.6927433893ms infinite -2.6159763619s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(26)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(27) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-12.8114939548deg);
  animation: move 2034.7934002647ms infinite -2.845276281s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(27)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(28) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-7.5014264328deg);
  animation: move 3660.5815304101ms infinite -1.5668782564s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(28)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(29) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(7.4458200739deg);
  animation: move 2131.9123435032ms infinite -1.5483745122s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(29)::before {
  position: absolute;
  font-size: 50px;
  content: "🐮";
}
.cs-like li:nth-child(30) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-2.1363372746deg);
  animation: move 1948.2779295716ms infinite -0.3502260496s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(30)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(31) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-7.8230215285deg);
  animation: move 3820.7206199226ms infinite -1.1288794343s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(31)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(32) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(7.9084305407deg);
  animation: move 2928.5054004964ms infinite -3.3884414804s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(32)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(33) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(7.0203719004deg);
  animation: move 2701.5203945136ms infinite -2.9912244418s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(33)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(34) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-4.3059504746deg);
  animation: move 1869.8974266244ms infinite -2.7910050848s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(34)::before {
  position: absolute;
  font-size: 50px;
  content: "🤘";
}
.cs-like li:nth-child(35) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-30.6210303643deg);
  animation: move 1802.6486332574ms infinite -2.6080444568s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(35)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(36) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(7.3097814292deg);
  animation: move 2305.9533615935ms infinite -1.5283182341s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(36)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(37) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-12.9888323041deg);
  animation: move 1736.7388648033ms infinite -3.8624328251s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(37)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(38) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(11.0435471309deg);
  animation: move 2688.8643121001ms infinite -0.6031513148s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(38)::before {
  position: absolute;
  font-size: 50px;
  content: "🤘";
}
.cs-like li:nth-child(39) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-3.5121342457deg);
  animation: move 2816.7370048867ms infinite -1.7059696302s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(39)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(40) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-3.0637040128deg);
  animation: move 3072.5137325766ms infinite -3.911976422s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(40)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(41) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-13.3836822146deg);
  animation: move 2545.5055565608ms infinite -1.3410093411s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(41)::before {
  position: absolute;
  font-size: 50px;
  content: "💓";
}
.cs-like li:nth-child(42) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(34.9848095556deg);
  animation: move 2968.1704720754ms infinite -3.744722169s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(42)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(43) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(13.6439523439deg);
  animation: move 3307.8358953877ms infinite -1.2927232982s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(43)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:nth-child(44) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(2.6149483239deg);
  animation: move 3570.8515931156ms infinite -2.3513664197s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(44)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(45) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(12.6904895063deg);
  animation: move 2496.8841506649ms infinite -0.0478195204s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(45)::before {
  position: absolute;
  font-size: 50px;
  content: "🤘";
}
.cs-like li:nth-child(46) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(10.6455025433deg);
  animation: move 2049.1917120848ms infinite -3.7110402429s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(46)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(47) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-38.7469941077deg);
  animation: move 3346.8756218929ms infinite -3.251685815s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(47)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(48) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(26.5203821799deg);
  animation: move 3421.8710980437ms infinite -3.4563302047s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(48)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(49) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-7.0648960688deg);
  animation: move 2696.4512199109ms infinite -2.136111072s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(49)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(50) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(35.4006758699deg);
  animation: move 3952.7853991381ms infinite -0.1062097786s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(50)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:active {
  opacity: 1;
  transition: 0.1s opacity;
}

@keyframes move {
  100% {
    transform: rotate(0) translate(0, -250px);
  }
}