@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cs-like {
  position: relative;
  width: 50px;
  height: 50px;
  background: none;
  line-height: 1;
  margin: auto;
}
.cs-like li {
  opacity: 0;
  transition: 1.5s opacity 0.8s;
}
.cs-like li:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-18.4808432604deg);
  animation: move 2989.5855345686ms infinite -1.4697678131s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(1)::before {
  position: absolute;
  font-size: 50px;
  content: "🐮";
}
.cs-like li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(0.6682715024deg);
  animation: move 3448.2892754398ms infinite -2.1620387137s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(2)::before {
  position: absolute;
  font-size: 50px;
  content: "🤣";
}
.cs-like li:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-32.0854181124deg);
  animation: move 1634.8256833266ms infinite -1.882361138s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(3)::before {
  position: absolute;
  font-size: 50px;
  content: "💓";
}
.cs-like li:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(13.0302186998deg);
  animation: move 3454.9985698171ms infinite -0.9458920304s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(4)::before {
  position: absolute;
  font-size: 50px;
  content: "💚";
}
.cs-like li:nth-child(5) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(22.3966699824deg);
  animation: move 1589.6987462127ms infinite -2.3242069971s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(5)::before {
  position: absolute;
  font-size: 50px;
  content: "💚";
}
.cs-like li:nth-child(6) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(19.9647208328deg);
  animation: move 1773.6909011096ms infinite -0.3292225431s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(6)::before {
  position: absolute;
  font-size: 50px;
  content: "🐮";
}
.cs-like li:nth-child(7) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-26.3528227514deg);
  animation: move 3916.2600181849ms infinite -1.1329806229s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(7)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(8) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(25.8529142015deg);
  animation: move 2629.6094751951ms infinite -1.8305453438s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(8)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(9) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-39.6159773838deg);
  animation: move 3589.9458943557ms infinite -2.0930644624s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(9)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:nth-child(10) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-0.8883056477deg);
  animation: move 1998.7217674616ms infinite -1.3532882196s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(10)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(11) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(34.8794483135deg);
  animation: move 2448.9100111371ms infinite -0.7701019049s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(11)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(12) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(33.7603503494deg);
  animation: move 3379.6809085635ms infinite -1.276355501s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(12)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(13) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(2.8430879521deg);
  animation: move 3116.642709604ms infinite -0.0381122509s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(13)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:nth-child(14) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-26.1911172517deg);
  animation: move 1626.3708214127ms infinite -0.2280994325s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(14)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(15) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-3.2567801122deg);
  animation: move 1524.4838603485ms infinite -0.7437245111s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(15)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(16) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-13.9716113726deg);
  animation: move 3332.4512320307ms infinite -1.0803926844s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(16)::before {
  position: absolute;
  font-size: 50px;
  content: "🤣";
}
.cs-like li:nth-child(17) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-35.3404221754deg);
  animation: move 3342.6486522252ms infinite -2.5453605962s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(17)::before {
  position: absolute;
  font-size: 50px;
  content: "💚";
}
.cs-like li:nth-child(18) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(9.6836743734deg);
  animation: move 1721.1397270578ms infinite -1.3713139884s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(18)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(19) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(39.0260826243deg);
  animation: move 3893.8483951232ms infinite -0.8894997559s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(19)::before {
  position: absolute;
  font-size: 50px;
  content: "👍🏼";
}
.cs-like li:nth-child(20) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(12.674135832deg);
  animation: move 1790.0293176945ms infinite -1.9224509265s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(20)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(21) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(19.4655815028deg);
  animation: move 2139.7530656777ms infinite -3.7940311676s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(21)::before {
  position: absolute;
  font-size: 50px;
  content: "😀";
}
.cs-like li:nth-child(22) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-17.3143619988deg);
  animation: move 1833.1385073917ms infinite -1.6959028357s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(22)::before {
  position: absolute;
  font-size: 50px;
  content: "💓";
}
.cs-like li:nth-child(23) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-32.1527975836deg);
  animation: move 3061.3892505907ms infinite -1.2373031561s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(23)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(24) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(26.5371511847deg);
  animation: move 1694.3844447394ms infinite -2.5769259406s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(24)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(25) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(30.6623948032deg);
  animation: move 1814.1561280251ms infinite -2.3049146267s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(25)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(26) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-38.9210804413deg);
  animation: move 2985.5065694537ms infinite -1.695096953s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(26)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(27) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(11.039330998deg);
  animation: move 1703.419728633ms infinite -1.7839249478s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(27)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(28) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(26.3875097224deg);
  animation: move 3797.5445932541ms infinite -3.4814977085s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(28)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(29) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(8.7753547924deg);
  animation: move 3021.3989601684ms infinite -2.8305443283s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(29)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(30) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(31.5034328727deg);
  animation: move 3889.0599089676ms infinite -0.009213956s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(30)::before {
  position: absolute;
  font-size: 50px;
  content: "💕";
}
.cs-like li:nth-child(31) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(11.2200648018deg);
  animation: move 2934.7971732846ms infinite -3.7172979655s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(31)::before {
  position: absolute;
  font-size: 50px;
  content: "🤘";
}
.cs-like li:nth-child(32) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-2.190166751deg);
  animation: move 3772.1493588102ms infinite -1.3236812444s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(32)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(33) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(6.8974358382deg);
  animation: move 3264.6853143044ms infinite -2.6456802114s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(33)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(34) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-20.0591631632deg);
  animation: move 3295.1591908012ms infinite -2.4540977871s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(34)::before {
  position: absolute;
  font-size: 50px;
  content: "👏";
}
.cs-like li:nth-child(35) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(13.4506628331deg);
  animation: move 1962.4347411282ms infinite -3.9995124259s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(35)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(36) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-38.666701114deg);
  animation: move 3416.4285166355ms infinite -2.2265068554s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(36)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:nth-child(37) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-19.3710309869deg);
  animation: move 1704.9437545014ms infinite -0.4302894128s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(37)::before {
  position: absolute;
  font-size: 50px;
  content: "🤣";
}
.cs-like li:nth-child(38) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-37.9309526869deg);
  animation: move 2535.2523516099ms infinite -0.47033522s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(38)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(39) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-39.641049305deg);
  animation: move 1948.6236123443ms infinite -3.0078796974s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(39)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:nth-child(40) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-17.8266378819deg);
  animation: move 1756.4301907906ms infinite -0.6320373803s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(40)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(41) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(27.3807203033deg);
  animation: move 3601.3761547419ms infinite -2.9391878781s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(41)::before {
  position: absolute;
  font-size: 50px;
  content: "😻";
}
.cs-like li:nth-child(42) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(9.9747771519deg);
  animation: move 1540.493952663ms infinite -0.0287564287s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(42)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(43) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-35.6106442602deg);
  animation: move 1954.3355981367ms infinite -0.7486367512s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(43)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(44) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(16.4851429493deg);
  animation: move 3253.35465239ms infinite -1.4140664894s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(44)::before {
  position: absolute;
  font-size: 50px;
  content: "💚";
}
.cs-like li:nth-child(45) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(13.5649958408deg);
  animation: move 1972.9818650173ms infinite -0.6929453451s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(45)::before {
  position: absolute;
  font-size: 50px;
  content: "🤡";
}
.cs-like li:nth-child(46) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-22.5633473723deg);
  animation: move 2499.5156591442ms infinite -1.585629085s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(46)::before {
  position: absolute;
  font-size: 50px;
  content: "🤩";
}
.cs-like li:nth-child(47) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-15.7280699213deg);
  animation: move 2351.094174174ms infinite -3.9745773763s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(47)::before {
  position: absolute;
  font-size: 50px;
  content: "❤️";
}
.cs-like li:nth-child(48) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-36.22413511deg);
  animation: move 2005.5873770804ms infinite -2.0054453603s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(48)::before {
  position: absolute;
  font-size: 50px;
  content: "🐮";
}
.cs-like li:nth-child(49) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(19.3281705261deg);
  animation: move 2277.5578541159ms infinite -3.4706483713s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(49)::before {
  position: absolute;
  font-size: 50px;
  content: "👍🏼";
}
.cs-like li:nth-child(50) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-9.3244213038deg);
  animation: move 3949.3327022624ms infinite -0.461852799s cubic-bezier(0.46, 0.53, 0.51, 0.62);
}
.cs-like li:nth-child(50)::before {
  position: absolute;
  font-size: 50px;
  content: "🎈";
}
.cs-like li:active {
  opacity: 1;
  transition: 0.1s opacity;
}

@keyframes move {
  100% {
    transform: rotate(0) translate(0, -250px);
  }
}
:root {
  --primary-color: royalblue;
}

.button {
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  padding: 5px 16px;
  color: rgba(0, 0, 0, 0.8509803922);
  display: block;
  font-size: 20px;
  margin: 40px auto;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  border-radius: 2px;
  line-height: 1.4;
  box-shadow: 0 8px rgba(0, 0, 0, 0.0156862745);
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  color: var(--primary-color);
  border-color: currentColor;
}
.button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  box-shadow: 0 0 0 6px var(--primary-color);
  transition: 0.3s;
}
.button:active::after {
  box-shadow: none;
  opacity: 0.4;
  transition: 0s;
}

.cs-like-btn {
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 40px auto;
}
.cs-like-btn::after {
  position: absolute;
  bottom: 100%;
  min-width: 100%;
  width: max-content;
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  background-image: linear-gradient(#ffcf02, #ff7352);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "x10";
  /**/
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s 0.3s, 0s 0.6s transform; /*默认情况下没有transform*/
  /*计时器*/
  --t: 0;
  counter-reset: time var(--t);
  content: counter(time) counter(time, 鼓励);
  animation: count 100s steps(999) forwards;
  animation-play-state: paused; /*默认暂停*/
}
.cs-like-btn:active::after {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
  animation-play-state: running; /*按下运行*/
}

@keyframes count {
  to {
    --t: 999;
  }
}
@property --t {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
@counter-style 鼓励 {
  system: cyclic;
  symbols: "鼓励！";
  range: 0 20;
  fallback: 加油;
}
@counter-style 加油 {
  system: cyclic;
  symbols: "加油！！";
  range: 0 50; /*进入到这个计数器，起点肯定已经超过了20*/
  fallback: 太棒了;
}
@counter-style 太棒了 {
  system: cyclic;
  symbols: "太棒了！！！";
}