.g-card {
  position: relative;
  display: grid;
  width: 340px;
  height: 200px;
  margin: 10px auto;
  font-size: 16px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.g-card-pic, .g-card-x {
  grid-area: 1/-1;
}
.g-card-pic {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/bg.jpeg"), url("../../../assets/images/sky.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%, 50% 100%;
  background-size: cover;
  background-blend-mode: lighten;
}
.g-card-x {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8509803922), rgba(0, 0, 0, 0)) bottom/100% 25% no-repeat;
  box-sizing: border-box;
  counter-increment: section;
}
.g-card-x::before {
  content: counter(section);
}
.g-card h2 {
  font-size: 20px;
  font-weight: bold;
}

.g-area {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 30vh 50px;
  gap: 10px;
  grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
}
.g-area div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.g-area div:nth-child(1) {
  background: rgba(255, 98, 179, 0.18);
}
.g-area div:nth-child(2) {
  background: rgba(236, 81, 114, 0.01);
}
.g-area div:nth-child(3) {
  background: rgba(127, 76, 178, 0.36);
}
.g-area div:nth-child(4) {
  background: rgba(42, 233, 205, 0.71);
}

.item-a {
  grid-area: header;
  align-items: center;
}

.item-b {
  grid-area: main;
}

.item-c {
  grid-area: sidebar;
}

.item-d {
  grid-area: footer;
}

.c-grid {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  /*  grid-template-columns: 60px 60px 60px;
       grid-template-rows: 60px 60px 60px;*/
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, auto);
  /*  grid-template-columns: 60px auto 60px;
       grid-template-rows: 60px auto 20px;*/
  /*  grid-row-gap: 5px;
       grid-column-gap: 9px;*/
  grid-gap: 6px;
}
.c-grid dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: section;
  animation: child-fade-in 8s infinite;
}
.c-grid dd:nth-child(1) {
  background: rgba(61, 32, 117, 0.95);
  animation-delay: 0.4s;
}
.c-grid dd:nth-child(2) {
  background: rgba(222, 120, 236, 0.9);
  animation-delay: 0.8s;
}
.c-grid dd:nth-child(3) {
  background: rgba(172, 228, 248, 0.85);
  animation-delay: 1.2s;
}
.c-grid dd:nth-child(4) {
  background: rgba(44, 215, 36, 0.8);
  animation-delay: 1.6s;
}
.c-grid dd:nth-child(5) {
  background: rgba(131, 221, 72, 0.75);
  animation-delay: 2s;
}
.c-grid dd:nth-child(6) {
  background: rgba(205, 129, 105, 0.7);
  animation-delay: 2.4s;
}
.c-grid dd:nth-child(7) {
  background: rgba(26, 23, 145, 0.65);
  animation-delay: 2.8s;
}
.c-grid dd:nth-child(8) {
  background: rgba(207, 133, 17, 0.6);
  animation-delay: 3.2s;
}
.c-grid dd:nth-child(9) {
  background: rgba(46, 114, 12, 0.55);
  animation-delay: 3.6s;
}
.c-grid dd:nth-child(10) {
  background: rgba(255, 166, 165, 0.5);
  animation-delay: 4s;
}
.c-grid dd:nth-child(11) {
  background: rgba(225, 224, 145, 0.45);
  animation-delay: 4.4s;
}
.c-grid dd:nth-child(12) {
  background: rgba(199, 144, 167, 0.4);
  animation-delay: 4.8s;
}
.c-grid dd:nth-child(13) {
  background: rgba(132, 127, 127, 0.35);
  animation-delay: 5.2s;
}
.c-grid dd:nth-child(14) {
  background: rgba(159, 136, 65, 0.3);
  animation-delay: 5.6s;
}
.c-grid dd:nth-child(15) {
  background: rgba(50, 240, 82, 0.25);
  animation-delay: 6s;
}
.c-grid dd:nth-child(16) {
  background: rgba(153, 241, 32, 0.2);
  animation-delay: 6.4s;
}
.c-grid dd:nth-child(17) {
  background: rgba(55, 206, 250, 0.15);
  animation-delay: 6.8s;
}
.c-grid dd:nth-child(18) {
  background: rgba(218, 22, 30, 0.1);
  animation-delay: 7.2s;
}
.c-grid dd:nth-child(19) {
  background: rgba(219, 96, 87, 0.05);
  animation-delay: 7.6s;
}
.c-grid dd:nth-child(20) {
  background: rgba(133, 19, 157, 0);
  animation-delay: 8s;
}
.c-grid dd::before {
  content: counter(section);
}

@keyframes child-fade-in {
  0% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.c-grid-step1 {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid: 40px auto auto 80px/80px auto 100px;
}
.c-grid-step1 dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-grid-step1 dd:nth-child(1) {
  background: rgba(146, 163, 19, 0.95);
  animation-delay: 0.4s;
}
.c-grid-step1 dd:nth-child(2) {
  background: rgba(102, 80, 171, 0.9);
  animation-delay: 0.8s;
}
.c-grid-step1 dd:nth-child(3) {
  background: rgba(7, 175, 120, 0.85);
  animation-delay: 1.2s;
}
.c-grid-step1 dd:nth-child(4) {
  background: rgba(111, 86, 248, 0.8);
  animation-delay: 1.6s;
}
.c-grid-step1 dd:nth-child(5) {
  background: rgba(66, 171, 65, 0.75);
  animation-delay: 2s;
}
.c-grid-step1 dd:nth-child(6) {
  background: rgba(198, 97, 66, 0.7);
  animation-delay: 2.4s;
}
.c-grid-step1 dd:nth-child(7) {
  background: rgba(218, 2, 6, 0.65);
  animation-delay: 2.8s;
}
.c-grid-step1 dd:nth-child(8) {
  background: rgba(140, 90, 36, 0.6);
  animation-delay: 3.2s;
}
.c-grid-step1 dd:nth-child(9) {
  background: rgba(154, 108, 244, 0.55);
  animation-delay: 3.6s;
}
.c-grid-step1 dd:nth-child(10) {
  background: rgba(207, 186, 63, 0.5);
  animation-delay: 4s;
}
.c-grid-step1 dd:nth-child(11) {
  background: rgba(195, 224, 154, 0.45);
  animation-delay: 4.4s;
}
.c-grid-step1 dd:nth-child(12) {
  background: rgba(165, 7, 18, 0.4);
  animation-delay: 4.8s;
}
.c-grid-step1 dd:nth-child(13) {
  background: rgba(92, 182, 50, 0.35);
  animation-delay: 5.2s;
}
.c-grid-step1 dd:nth-child(14) {
  background: rgba(209, 127, 137, 0.3);
  animation-delay: 5.6s;
}
.c-grid-step1 dd:nth-child(15) {
  background: rgba(40, 98, 51, 0.25);
  animation-delay: 6s;
}
.c-grid-step1 dd:nth-child(16) {
  background: rgba(131, 62, 242, 0.2);
  animation-delay: 6.4s;
}
.c-grid-step1 dd:nth-child(17) {
  background: rgba(97, 124, 233, 0.15);
  animation-delay: 6.8s;
}
.c-grid-step1 dd:nth-child(18) {
  background: rgba(187, 80, 125, 0.1);
  animation-delay: 7.2s;
}
.c-grid-step1 dd:nth-child(19) {
  background: rgba(74, 211, 8, 0.05);
  animation-delay: 7.6s;
}
.c-grid-step1 dd:nth-child(20) {
  background: rgba(149, 161, 15, 0);
  animation-delay: 8s;
}
.c-grid-step1 dd::before {
  content: counter(num);
}

.c-grid-step2 {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
}
.c-grid-step2 dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-grid-step2 dd:nth-child(1) {
  background: rgba(21, 94, 82, 0.95);
  animation-delay: 0.4s;
}
.c-grid-step2 dd:nth-child(2) {
  background: rgba(38, 194, 4, 0.9);
  animation-delay: 0.8s;
}
.c-grid-step2 dd:nth-child(3) {
  background: rgba(86, 18, 126, 0.85);
  animation-delay: 1.2s;
}
.c-grid-step2 dd:nth-child(4) {
  background: rgba(92, 12, 176, 0.8);
  animation-delay: 1.6s;
}
.c-grid-step2 dd:nth-child(5) {
  background: rgba(204, 61, 6, 0.75);
  animation-delay: 2s;
}
.c-grid-step2 dd:nth-child(6) {
  background: rgba(46, 45, 62, 0.7);
  animation-delay: 2.4s;
}
.c-grid-step2 dd:nth-child(7) {
  background: rgba(11, 52, 26, 0.65);
  animation-delay: 2.8s;
}
.c-grid-step2 dd:nth-child(8) {
  background: rgba(243, 252, 88, 0.6);
  animation-delay: 3.2s;
}
.c-grid-step2 dd:nth-child(9) {
  background: rgba(181, 234, 134, 0.55);
  animation-delay: 3.6s;
}
.c-grid-step2 dd:nth-child(10) {
  background: rgba(3, 109, 154, 0.5);
  animation-delay: 4s;
}
.c-grid-step2 dd:nth-child(11) {
  background: rgba(110, 186, 145, 0.45);
  animation-delay: 4.4s;
}
.c-grid-step2 dd:nth-child(12) {
  background: rgba(191, 159, 34, 0.4);
  animation-delay: 4.8s;
}
.c-grid-step2 dd:nth-child(13) {
  background: rgba(171, 233, 44, 0.35);
  animation-delay: 5.2s;
}
.c-grid-step2 dd:nth-child(14) {
  background: rgba(181, 138, 145, 0.3);
  animation-delay: 5.6s;
}
.c-grid-step2 dd:nth-child(15) {
  background: rgba(208, 166, 122, 0.25);
  animation-delay: 6s;
}
.c-grid-step2 dd:nth-child(16) {
  background: rgba(159, 210, 144, 0.2);
  animation-delay: 6.4s;
}
.c-grid-step2 dd:nth-child(17) {
  background: rgba(149, 41, 242, 0.15);
  animation-delay: 6.8s;
}
.c-grid-step2 dd:nth-child(18) {
  background: rgba(170, 155, 2, 0.1);
  animation-delay: 7.2s;
}
.c-grid-step2 dd:nth-child(19) {
  background: rgba(124, 207, 66, 0.05);
  animation-delay: 7.6s;
}
.c-grid-step2 dd:nth-child(20) {
  background: rgba(164, 182, 179, 0);
  animation-delay: 8s;
}
.c-grid-step2 dd::before {
  content: counter(num);
}

.c-fit-content {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: fit-content(150px) fit-content(150px) auto;
  grid-gap: 10px;
}
.c-fit-content dd {
  word-wrap: break-word;
  word-break: break-all;
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-fit-content dd:nth-child(1) {
  background: rgba(190, 54, 239, 0.95);
  animation-delay: 0.4s;
}
.c-fit-content dd:nth-child(2) {
  background: rgba(115, 23, 26, 0.9);
  animation-delay: 0.8s;
}
.c-fit-content dd:nth-child(3) {
  background: rgba(168, 212, 33, 0.85);
  animation-delay: 1.2s;
}
.c-fit-content dd:nth-child(4) {
  background: rgba(14, 120, 157, 0.8);
  animation-delay: 1.6s;
}
.c-fit-content dd:nth-child(5) {
  background: rgba(37, 171, 77, 0.75);
  animation-delay: 2s;
}
.c-fit-content dd:nth-child(6) {
  background: rgba(100, 124, 71, 0.7);
  animation-delay: 2.4s;
}
.c-fit-content dd:nth-child(7) {
  background: rgba(122, 139, 169, 0.65);
  animation-delay: 2.8s;
}
.c-fit-content dd:nth-child(8) {
  background: rgba(206, 30, 100, 0.6);
  animation-delay: 3.2s;
}
.c-fit-content dd:nth-child(9) {
  background: rgba(223, 92, 126, 0.55);
  animation-delay: 3.6s;
}
.c-fit-content dd:nth-child(10) {
  background: rgba(255, 251, 185, 0.5);
  animation-delay: 4s;
}
.c-fit-content dd:nth-child(11) {
  background: rgba(215, 191, 110, 0.45);
  animation-delay: 4.4s;
}
.c-fit-content dd:nth-child(12) {
  background: rgba(203, 75, 70, 0.4);
  animation-delay: 4.8s;
}
.c-fit-content dd:nth-child(13) {
  background: rgba(150, 134, 195, 0.35);
  animation-delay: 5.2s;
}
.c-fit-content dd:nth-child(14) {
  background: rgba(180, 17, 237, 0.3);
  animation-delay: 5.6s;
}
.c-fit-content dd:nth-child(15) {
  background: rgba(85, 63, 67, 0.25);
  animation-delay: 6s;
}
.c-fit-content dd:nth-child(16) {
  background: rgba(72, 58, 227, 0.2);
  animation-delay: 6.4s;
}
.c-fit-content dd:nth-child(17) {
  background: rgba(111, 75, 2, 0.15);
  animation-delay: 6.8s;
}
.c-fit-content dd:nth-child(18) {
  background: rgba(110, 18, 40, 0.1);
  animation-delay: 7.2s;
}
.c-fit-content dd:nth-child(19) {
  background: rgba(41, 245, 56, 0.05);
  animation-delay: 7.6s;
}
.c-fit-content dd:nth-child(20) {
  background: rgba(185, 183, 187, 0);
  animation-delay: 8s;
}
.c-fit-content dd::before {
  content: counter(num);
}

.c-minmax {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(50px, min-content) minmax(100px, max-content);
  gap: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.c-minmax dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.c-minmax dd:nth-child(1) {
  background: rgba(128, 61, 211, 0.95);
  animation-delay: 0.4s;
}
.c-minmax dd:nth-child(2) {
  background: rgba(191, 81, 155, 0.9);
  animation-delay: 0.8s;
}
.c-minmax dd:nth-child(3) {
  background: rgba(198, 38, 214, 0.85);
  animation-delay: 1.2s;
}
.c-minmax dd:nth-child(4) {
  background: rgba(212, 156, 211, 0.8);
  animation-delay: 1.6s;
}
.c-minmax dd:nth-child(5) {
  background: rgba(228, 63, 183, 0.75);
  animation-delay: 2s;
}
.c-minmax dd:nth-child(6) {
  background: rgba(37, 220, 187, 0.7);
  animation-delay: 2.4s;
}
.c-minmax dd:nth-child(7) {
  background: rgba(48, 25, 65, 0.65);
  animation-delay: 2.8s;
}
.c-minmax dd:nth-child(8) {
  background: rgba(32, 101, 219, 0.6);
  animation-delay: 3.2s;
}
.c-minmax dd:nth-child(9) {
  background: rgba(197, 201, 153, 0.55);
  animation-delay: 3.6s;
}
.c-minmax dd:nth-child(10) {
  background: rgba(109, 38, 117, 0.5);
  animation-delay: 4s;
}
.c-minmax dd:nth-child(11) {
  background: rgba(22, 87, 70, 0.45);
  animation-delay: 4.4s;
}
.c-minmax dd:nth-child(12) {
  background: rgba(148, 24, 126, 0.4);
  animation-delay: 4.8s;
}
.c-minmax dd:nth-child(13) {
  background: rgba(172, 221, 184, 0.35);
  animation-delay: 5.2s;
}
.c-minmax dd:nth-child(14) {
  background: rgba(207, 73, 132, 0.3);
  animation-delay: 5.6s;
}
.c-minmax dd:nth-child(15) {
  background: rgba(230, 75, 124, 0.25);
  animation-delay: 6s;
}
.c-minmax dd:nth-child(16) {
  background: rgba(179, 38, 126, 0.2);
  animation-delay: 6.4s;
}
.c-minmax dd:nth-child(17) {
  background: rgba(146, 130, 208, 0.15);
  animation-delay: 6.8s;
}
.c-minmax dd:nth-child(18) {
  background: rgba(207, 225, 254, 0.1);
  animation-delay: 7.2s;
}
.c-minmax dd:nth-child(19) {
  background: rgba(74, 11, 7, 0.05);
  animation-delay: 7.6s;
}
.c-minmax dd:nth-child(20) {
  background: rgba(212, 85, 132, 0);
  animation-delay: 8s;
}

.c-repeat-auto-fill {
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.c-repeat-auto-fill dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-repeat-auto-fill dd:nth-child(1) {
  background: rgba(73, 53, 231, 0.95);
  animation-delay: 0.4s;
}
.c-repeat-auto-fill dd:nth-child(2) {
  background: rgba(61, 194, 95, 0.9);
  animation-delay: 0.8s;
}
.c-repeat-auto-fill dd:nth-child(3) {
  background: rgba(167, 23, 80, 0.85);
  animation-delay: 1.2s;
}
.c-repeat-auto-fill dd:nth-child(4) {
  background: rgba(170, 140, 58, 0.8);
  animation-delay: 1.6s;
}
.c-repeat-auto-fill dd:nth-child(5) {
  background: rgba(103, 120, 185, 0.75);
  animation-delay: 2s;
}
.c-repeat-auto-fill dd:nth-child(6) {
  background: rgba(242, 37, 129, 0.7);
  animation-delay: 2.4s;
}
.c-repeat-auto-fill dd:nth-child(7) {
  background: rgba(242, 167, 129, 0.65);
  animation-delay: 2.8s;
}
.c-repeat-auto-fill dd:nth-child(8) {
  background: rgba(164, 120, 37, 0.6);
  animation-delay: 3.2s;
}
.c-repeat-auto-fill dd:nth-child(9) {
  background: rgba(18, 28, 48, 0.55);
  animation-delay: 3.6s;
}
.c-repeat-auto-fill dd:nth-child(10) {
  background: rgba(253, 231, 165, 0.5);
  animation-delay: 4s;
}
.c-repeat-auto-fill dd:nth-child(11) {
  background: rgba(75, 39, 142, 0.45);
  animation-delay: 4.4s;
}
.c-repeat-auto-fill dd:nth-child(12) {
  background: rgba(247, 166, 242, 0.4);
  animation-delay: 4.8s;
}
.c-repeat-auto-fill dd:nth-child(13) {
  background: rgba(203, 95, 217, 0.35);
  animation-delay: 5.2s;
}
.c-repeat-auto-fill dd:nth-child(14) {
  background: rgba(52, 161, 231, 0.3);
  animation-delay: 5.6s;
}
.c-repeat-auto-fill dd:nth-child(15) {
  background: rgba(127, 103, 36, 0.25);
  animation-delay: 6s;
}
.c-repeat-auto-fill dd:nth-child(16) {
  background: rgba(118, 66, 215, 0.2);
  animation-delay: 6.4s;
}
.c-repeat-auto-fill dd:nth-child(17) {
  background: rgba(150, 191, 23, 0.15);
  animation-delay: 6.8s;
}
.c-repeat-auto-fill dd:nth-child(18) {
  background: rgba(207, 37, 112, 0.1);
  animation-delay: 7.2s;
}
.c-repeat-auto-fill dd:nth-child(19) {
  background: rgba(75, 234, 63, 0.05);
  animation-delay: 7.6s;
}
.c-repeat-auto-fill dd:nth-child(20) {
  background: rgba(253, 236, 14, 0);
  animation-delay: 8s;
}
.c-repeat-auto-fill dd::before {
  content: counter(num);
}

.c-repeat-auto-fit {
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.c-repeat-auto-fit dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-repeat-auto-fit dd:nth-child(1) {
  background: rgba(4, 163, 94, 0.95);
  animation-delay: 0.4s;
}
.c-repeat-auto-fit dd:nth-child(2) {
  background: rgba(168, 96, 66, 0.9);
  animation-delay: 0.8s;
}
.c-repeat-auto-fit dd:nth-child(3) {
  background: rgba(23, 181, 87, 0.85);
  animation-delay: 1.2s;
}
.c-repeat-auto-fit dd:nth-child(4) {
  background: rgba(151, 11, 228, 0.8);
  animation-delay: 1.6s;
}
.c-repeat-auto-fit dd:nth-child(5) {
  background: rgba(54, 48, 196, 0.75);
  animation-delay: 2s;
}
.c-repeat-auto-fit dd:nth-child(6) {
  background: rgba(28, 198, 84, 0.7);
  animation-delay: 2.4s;
}
.c-repeat-auto-fit dd:nth-child(7) {
  background: rgba(193, 114, 112, 0.65);
  animation-delay: 2.8s;
}
.c-repeat-auto-fit dd:nth-child(8) {
  background: rgba(181, 52, 220, 0.6);
  animation-delay: 3.2s;
}
.c-repeat-auto-fit dd:nth-child(9) {
  background: rgba(139, 13, 107, 0.55);
  animation-delay: 3.6s;
}
.c-repeat-auto-fit dd:nth-child(10) {
  background: rgba(83, 14, 73, 0.5);
  animation-delay: 4s;
}
.c-repeat-auto-fit dd:nth-child(11) {
  background: rgba(26, 111, 91, 0.45);
  animation-delay: 4.4s;
}
.c-repeat-auto-fit dd:nth-child(12) {
  background: rgba(107, 18, 46, 0.4);
  animation-delay: 4.8s;
}
.c-repeat-auto-fit dd:nth-child(13) {
  background: rgba(9, 202, 71, 0.35);
  animation-delay: 5.2s;
}
.c-repeat-auto-fit dd:nth-child(14) {
  background: rgba(54, 91, 142, 0.3);
  animation-delay: 5.6s;
}
.c-repeat-auto-fit dd:nth-child(15) {
  background: rgba(249, 14, 207, 0.25);
  animation-delay: 6s;
}
.c-repeat-auto-fit dd:nth-child(16) {
  background: rgba(142, 251, 245, 0.2);
  animation-delay: 6.4s;
}
.c-repeat-auto-fit dd:nth-child(17) {
  background: rgba(147, 15, 9, 0.15);
  animation-delay: 6.8s;
}
.c-repeat-auto-fit dd:nth-child(18) {
  background: rgba(13, 167, 132, 0.1);
  animation-delay: 7.2s;
}
.c-repeat-auto-fit dd:nth-child(19) {
  background: rgba(73, 25, 150, 0.05);
  animation-delay: 7.6s;
}
.c-repeat-auto-fit dd:nth-child(20) {
  background: rgba(21, 193, 164, 0);
  animation-delay: 8s;
}
.c-repeat-auto-fit dd::before {
  content: counter(num);
}

.c-areas {
  width: 500px;
  min-height: 500px;
  display: grid;
  grid-gap: 1px;
  margin: 20px auto;
  grid-template: "a a a" 1fr "b c c" 1fr "b d d" 1fr "e e e" 1fr/minmax(100px, auto) minmax(100px, 1fr) fit-content(200px);
}
.c-areas dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.c-areas dd:nth-child(1) {
  background: rgba(224, 14, 194, 0.95);
  animation-delay: 0.4s;
}
.c-areas dd:nth-child(2) {
  background: rgba(20, 2, 3, 0.9);
  animation-delay: 0.8s;
}
.c-areas dd:nth-child(3) {
  background: rgba(8, 36, 72, 0.85);
  animation-delay: 1.2s;
}
.c-areas dd:nth-child(4) {
  background: rgba(200, 5, 132, 0.8);
  animation-delay: 1.6s;
}
.c-areas dd:nth-child(5) {
  background: rgba(8, 68, 106, 0.75);
  animation-delay: 2s;
}
.c-areas dd:nth-child(6) {
  background: rgba(28, 219, 16, 0.7);
  animation-delay: 2.4s;
}
.c-areas dd:nth-child(7) {
  background: rgba(73, 161, 81, 0.65);
  animation-delay: 2.8s;
}
.c-areas dd:nth-child(8) {
  background: rgba(61, 30, 227, 0.6);
  animation-delay: 3.2s;
}
.c-areas dd:nth-child(9) {
  background: rgba(67, 210, 120, 0.55);
  animation-delay: 3.6s;
}
.c-areas dd:nth-child(10) {
  background: rgba(220, 233, 168, 0.5);
  animation-delay: 4s;
}
.c-areas dd:nth-child(11) {
  background: rgba(153, 77, 16, 0.45);
  animation-delay: 4.4s;
}
.c-areas dd:nth-child(12) {
  background: rgba(139, 253, 145, 0.4);
  animation-delay: 4.8s;
}
.c-areas dd:nth-child(13) {
  background: rgba(19, 149, 26, 0.35);
  animation-delay: 5.2s;
}
.c-areas dd:nth-child(14) {
  background: rgba(228, 209, 104, 0.3);
  animation-delay: 5.6s;
}
.c-areas dd:nth-child(15) {
  background: rgba(105, 193, 197, 0.25);
  animation-delay: 6s;
}
.c-areas dd:nth-child(16) {
  background: rgba(11, 11, 159, 0.2);
  animation-delay: 6.4s;
}
.c-areas dd:nth-child(17) {
  background: rgba(164, 54, 7, 0.15);
  animation-delay: 6.8s;
}
.c-areas dd:nth-child(18) {
  background: rgba(65, 8, 225, 0.1);
  animation-delay: 7.2s;
}
.c-areas dd:nth-child(19) {
  background: rgba(223, 43, 104, 0.05);
  animation-delay: 7.6s;
}
.c-areas dd:nth-child(20) {
  background: rgba(16, 159, 156, 0);
  animation-delay: 8s;
}
.c-areas .a {
  grid-area: a;
}
.c-areas .b {
  grid-area: b;
}
.c-areas .c {
  grid-area: c;
}
.c-areas .d {
  grid-area: d;
}
.c-areas .e {
  grid-area: e;
}

.c-areas-column {
  width: 500px;
  min-height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template: "a . ." 1fr "a . ." 1fr/1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 1px;
}
.c-areas-column dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-areas-column dd:nth-child(1) {
  background: rgba(227, 143, 224, 0.95);
  animation-delay: 0.4s;
}
.c-areas-column dd:nth-child(2) {
  background: rgba(195, 193, 207, 0.9);
  animation-delay: 0.8s;
}
.c-areas-column dd:nth-child(3) {
  background: rgba(224, 2, 28, 0.85);
  animation-delay: 1.2s;
}
.c-areas-column dd:nth-child(4) {
  background: rgba(92, 68, 183, 0.8);
  animation-delay: 1.6s;
}
.c-areas-column dd:nth-child(5) {
  background: rgba(45, 10, 59, 0.75);
  animation-delay: 2s;
}
.c-areas-column dd:nth-child(6) {
  background: rgba(158, 197, 133, 0.7);
  animation-delay: 2.4s;
}
.c-areas-column dd:nth-child(7) {
  background: rgba(236, 226, 177, 0.65);
  animation-delay: 2.8s;
}
.c-areas-column dd:nth-child(8) {
  background: rgba(241, 13, 209, 0.6);
  animation-delay: 3.2s;
}
.c-areas-column dd:nth-child(9) {
  background: rgba(145, 206, 154, 0.55);
  animation-delay: 3.6s;
}
.c-areas-column dd:nth-child(10) {
  background: rgba(147, 148, 44, 0.5);
  animation-delay: 4s;
}
.c-areas-column dd:nth-child(11) {
  background: rgba(126, 181, 1, 0.45);
  animation-delay: 4.4s;
}
.c-areas-column dd:nth-child(12) {
  background: rgba(57, 159, 235, 0.4);
  animation-delay: 4.8s;
}
.c-areas-column dd:nth-child(13) {
  background: rgba(233, 170, 98, 0.35);
  animation-delay: 5.2s;
}
.c-areas-column dd:nth-child(14) {
  background: rgba(178, 44, 194, 0.3);
  animation-delay: 5.6s;
}
.c-areas-column dd:nth-child(15) {
  background: rgba(156, 227, 34, 0.25);
  animation-delay: 6s;
}
.c-areas-column dd:nth-child(16) {
  background: rgba(224, 155, 90, 0.2);
  animation-delay: 6.4s;
}
.c-areas-column dd:nth-child(17) {
  background: rgba(176, 227, 123, 0.15);
  animation-delay: 6.8s;
}
.c-areas-column dd:nth-child(18) {
  background: rgba(220, 203, 55, 0.1);
  animation-delay: 7.2s;
}
.c-areas-column dd:nth-child(19) {
  background: rgba(63, 103, 57, 0.05);
  animation-delay: 7.6s;
}
.c-areas-column dd:nth-child(20) {
  background: rgba(137, 163, 121, 0);
  animation-delay: 8s;
}
.c-areas-column dd::before {
  content: counter(num);
}
.c-areas-column dd:first-child {
  grid-area: a;
}

.c-area-logogram {
  width: 500px;
  min-height: 200px;
  display: grid;
  margin: 0 auto;
  grid: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
  gap: 1px;
}
.c-area-logogram dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-area-logogram dd:nth-child(1) {
  background: rgba(26, 217, 66, 0.95);
  animation-delay: 0.4s;
}
.c-area-logogram dd:nth-child(2) {
  background: rgba(244, 133, 244, 0.9);
  animation-delay: 0.8s;
}
.c-area-logogram dd:nth-child(3) {
  background: rgba(84, 47, 143, 0.85);
  animation-delay: 1.2s;
}
.c-area-logogram dd:nth-child(4) {
  background: rgba(231, 253, 81, 0.8);
  animation-delay: 1.6s;
}
.c-area-logogram dd:nth-child(5) {
  background: rgba(93, 101, 251, 0.75);
  animation-delay: 2s;
}
.c-area-logogram dd:nth-child(6) {
  background: rgba(95, 217, 50, 0.7);
  animation-delay: 2.4s;
}
.c-area-logogram dd:nth-child(7) {
  background: rgba(211, 204, 79, 0.65);
  animation-delay: 2.8s;
}
.c-area-logogram dd:nth-child(8) {
  background: rgba(141, 29, 216, 0.6);
  animation-delay: 3.2s;
}
.c-area-logogram dd:nth-child(9) {
  background: rgba(36, 242, 6, 0.55);
  animation-delay: 3.6s;
}
.c-area-logogram dd:nth-child(10) {
  background: rgba(252, 3, 73, 0.5);
  animation-delay: 4s;
}
.c-area-logogram dd:nth-child(11) {
  background: rgba(107, 250, 212, 0.45);
  animation-delay: 4.4s;
}
.c-area-logogram dd:nth-child(12) {
  background: rgba(79, 93, 147, 0.4);
  animation-delay: 4.8s;
}
.c-area-logogram dd:nth-child(13) {
  background: rgba(24, 5, 90, 0.35);
  animation-delay: 5.2s;
}
.c-area-logogram dd:nth-child(14) {
  background: rgba(244, 109, 174, 0.3);
  animation-delay: 5.6s;
}
.c-area-logogram dd:nth-child(15) {
  background: rgba(124, 196, 129, 0.25);
  animation-delay: 6s;
}
.c-area-logogram dd:nth-child(16) {
  background: rgba(250, 87, 133, 0.2);
  animation-delay: 6.4s;
}
.c-area-logogram dd:nth-child(17) {
  background: rgba(241, 224, 36, 0.15);
  animation-delay: 6.8s;
}
.c-area-logogram dd:nth-child(18) {
  background: rgba(112, 57, 195, 0.1);
  animation-delay: 7.2s;
}
.c-area-logogram dd:nth-child(19) {
  background: rgba(155, 114, 155, 0.05);
  animation-delay: 7.6s;
}
.c-area-logogram dd:nth-child(20) {
  background: rgba(82, 237, 240, 0);
  animation-delay: 8s;
}
.c-area-logogram dd::before {
  content: counter(num);
}
.c-area-logogram .item {
  grid-area: 1/2/3/4;
}

.c-area-classic {
  width: 300px;
  min-height: 200px;
  display: grid;
  margin: 20px auto;
}
.c-area-classic img,
.c-area-classic figcaption {
  grid-area: 1/2;
}
.c-area-classic figcaption {
  align-self: end;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 2;
}
.c-area-classic img {
  width: 100%;
  display: block;
  object-fit: cover;
}