.header-bar {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  background-color: salmon;
  padding: 10px;
  white-space: nowrap;
}
.header-bar ul {
  display: flex;
}
.header-bar ul li + li {
  margin-left: 10px;
}

.g-card {
  position: relative;
  display: grid;
  width: 340px;
  height: 200px;
  margin: 10px auto;
  font-size: 16px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.g-card-pic, .g-card-x {
  grid-area: 1/-1;
}
.g-card-pic {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/bg.jpeg"), url("../../../assets/images/sky.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%, 50% 100%;
  background-size: cover;
  background-blend-mode: lighten;
}
.g-card-x {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8509803922), rgba(0, 0, 0, 0)) bottom/100% 25% no-repeat;
  box-sizing: border-box;
  counter-increment: section;
}
.g-card-x::before {
  content: counter(section);
}
.g-card h2 {
  font-size: 20px;
  font-weight: bold;
}

.g-area {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 30vh 50px;
  gap: 10px;
  grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
}
.g-area div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.g-area div:nth-child(1) {
  background: rgba(207, 84, 146, 0.05);
}
.g-area div:nth-child(2) {
  background: rgba(180, 124, 166, 0.49);
}
.g-area div:nth-child(3) {
  background: rgba(22, 5, 51, 0.63);
}
.g-area div:nth-child(4) {
  background: rgba(252, 93, 86, 0.87);
}

.item-a {
  grid-area: header;
  align-items: center;
}

.item-b {
  grid-area: main;
}

.item-c {
  grid-area: sidebar;
}

.item-d {
  grid-area: footer;
}

.c-grid {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  /*  grid-template-columns: 60px 60px 60px;
       grid-template-rows: 60px 60px 60px;*/
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, auto);
  /*  grid-template-columns: 60px auto 60px;
       grid-template-rows: 60px auto 20px;*/
  /*  grid-row-gap: 5px;
       grid-column-gap: 9px;*/
  grid-gap: 6px;
}
.c-grid dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: section;
  animation: child-fade-in 8s infinite;
}
.c-grid dd:nth-child(1) {
  background: rgba(16, 255, 87, 0.95);
  animation-delay: 0.4s;
}
.c-grid dd:nth-child(2) {
  background: rgba(104, 225, 91, 0.9);
  animation-delay: 0.8s;
}
.c-grid dd:nth-child(3) {
  background: rgba(241, 125, 172, 0.85);
  animation-delay: 1.2s;
}
.c-grid dd:nth-child(4) {
  background: rgba(215, 177, 169, 0.8);
  animation-delay: 1.6s;
}
.c-grid dd:nth-child(5) {
  background: rgba(217, 71, 48, 0.75);
  animation-delay: 2s;
}
.c-grid dd:nth-child(6) {
  background: rgba(165, 94, 150, 0.7);
  animation-delay: 2.4s;
}
.c-grid dd:nth-child(7) {
  background: rgba(20, 73, 69, 0.65);
  animation-delay: 2.8s;
}
.c-grid dd:nth-child(8) {
  background: rgba(82, 137, 66, 0.6);
  animation-delay: 3.2s;
}
.c-grid dd:nth-child(9) {
  background: rgba(116, 237, 215, 0.55);
  animation-delay: 3.6s;
}
.c-grid dd:nth-child(10) {
  background: rgba(174, 17, 149, 0.5);
  animation-delay: 4s;
}
.c-grid dd:nth-child(11) {
  background: rgba(91, 43, 33, 0.45);
  animation-delay: 4.4s;
}
.c-grid dd:nth-child(12) {
  background: rgba(80, 68, 233, 0.4);
  animation-delay: 4.8s;
}
.c-grid dd:nth-child(13) {
  background: rgba(96, 82, 220, 0.35);
  animation-delay: 5.2s;
}
.c-grid dd:nth-child(14) {
  background: rgba(131, 175, 16, 0.3);
  animation-delay: 5.6s;
}
.c-grid dd:nth-child(15) {
  background: rgba(7, 103, 204, 0.25);
  animation-delay: 6s;
}
.c-grid dd:nth-child(16) {
  background: rgba(227, 138, 70, 0.2);
  animation-delay: 6.4s;
}
.c-grid dd:nth-child(17) {
  background: rgba(48, 253, 230, 0.15);
  animation-delay: 6.8s;
}
.c-grid dd:nth-child(18) {
  background: rgba(223, 143, 204, 0.1);
  animation-delay: 7.2s;
}
.c-grid dd:nth-child(19) {
  background: rgba(40, 140, 65, 0.05);
  animation-delay: 7.6s;
}
.c-grid dd:nth-child(20) {
  background: rgba(206, 1, 165, 0);
  animation-delay: 8s;
}
.c-grid dd::before {
  content: counter(section);
}

@keyframes child-fade-in {
  0% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.c-grid-step1 {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid: 40px auto auto 80px/80px auto 100px;
}
.c-grid-step1 dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-grid-step1 dd:nth-child(1) {
  background: rgba(35, 110, 192, 0.95);
  animation-delay: 0.4s;
}
.c-grid-step1 dd:nth-child(2) {
  background: rgba(127, 90, 115, 0.9);
  animation-delay: 0.8s;
}
.c-grid-step1 dd:nth-child(3) {
  background: rgba(214, 252, 186, 0.85);
  animation-delay: 1.2s;
}
.c-grid-step1 dd:nth-child(4) {
  background: rgba(18, 250, 123, 0.8);
  animation-delay: 1.6s;
}
.c-grid-step1 dd:nth-child(5) {
  background: rgba(108, 60, 120, 0.75);
  animation-delay: 2s;
}
.c-grid-step1 dd:nth-child(6) {
  background: rgba(197, 95, 134, 0.7);
  animation-delay: 2.4s;
}
.c-grid-step1 dd:nth-child(7) {
  background: rgba(61, 97, 112, 0.65);
  animation-delay: 2.8s;
}
.c-grid-step1 dd:nth-child(8) {
  background: rgba(209, 133, 98, 0.6);
  animation-delay: 3.2s;
}
.c-grid-step1 dd:nth-child(9) {
  background: rgba(2, 254, 26, 0.55);
  animation-delay: 3.6s;
}
.c-grid-step1 dd:nth-child(10) {
  background: rgba(105, 19, 16, 0.5);
  animation-delay: 4s;
}
.c-grid-step1 dd:nth-child(11) {
  background: rgba(223, 108, 151, 0.45);
  animation-delay: 4.4s;
}
.c-grid-step1 dd:nth-child(12) {
  background: rgba(251, 169, 226, 0.4);
  animation-delay: 4.8s;
}
.c-grid-step1 dd:nth-child(13) {
  background: rgba(142, 234, 116, 0.35);
  animation-delay: 5.2s;
}
.c-grid-step1 dd:nth-child(14) {
  background: rgba(198, 144, 8, 0.3);
  animation-delay: 5.6s;
}
.c-grid-step1 dd:nth-child(15) {
  background: rgba(96, 39, 12, 0.25);
  animation-delay: 6s;
}
.c-grid-step1 dd:nth-child(16) {
  background: rgba(208, 223, 158, 0.2);
  animation-delay: 6.4s;
}
.c-grid-step1 dd:nth-child(17) {
  background: rgba(39, 48, 114, 0.15);
  animation-delay: 6.8s;
}
.c-grid-step1 dd:nth-child(18) {
  background: rgba(124, 118, 173, 0.1);
  animation-delay: 7.2s;
}
.c-grid-step1 dd:nth-child(19) {
  background: rgba(196, 41, 214, 0.05);
  animation-delay: 7.6s;
}
.c-grid-step1 dd:nth-child(20) {
  background: rgba(29, 15, 194, 0);
  animation-delay: 8s;
}
.c-grid-step1 dd::before {
  content: counter(num);
}

.c-grid-step2 {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
}
.c-grid-step2 dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-grid-step2 dd:nth-child(1) {
  background: rgba(229, 18, 145, 0.95);
  animation-delay: 0.4s;
}
.c-grid-step2 dd:nth-child(2) {
  background: rgba(2, 254, 4, 0.9);
  animation-delay: 0.8s;
}
.c-grid-step2 dd:nth-child(3) {
  background: rgba(120, 134, 109, 0.85);
  animation-delay: 1.2s;
}
.c-grid-step2 dd:nth-child(4) {
  background: rgba(120, 18, 86, 0.8);
  animation-delay: 1.6s;
}
.c-grid-step2 dd:nth-child(5) {
  background: rgba(5, 91, 7, 0.75);
  animation-delay: 2s;
}
.c-grid-step2 dd:nth-child(6) {
  background: rgba(87, 7, 133, 0.7);
  animation-delay: 2.4s;
}
.c-grid-step2 dd:nth-child(7) {
  background: rgba(21, 142, 93, 0.65);
  animation-delay: 2.8s;
}
.c-grid-step2 dd:nth-child(8) {
  background: rgba(81, 11, 185, 0.6);
  animation-delay: 3.2s;
}
.c-grid-step2 dd:nth-child(9) {
  background: rgba(101, 183, 22, 0.55);
  animation-delay: 3.6s;
}
.c-grid-step2 dd:nth-child(10) {
  background: rgba(201, 178, 116, 0.5);
  animation-delay: 4s;
}
.c-grid-step2 dd:nth-child(11) {
  background: rgba(89, 179, 247, 0.45);
  animation-delay: 4.4s;
}
.c-grid-step2 dd:nth-child(12) {
  background: rgba(235, 231, 169, 0.4);
  animation-delay: 4.8s;
}
.c-grid-step2 dd:nth-child(13) {
  background: rgba(88, 5, 162, 0.35);
  animation-delay: 5.2s;
}
.c-grid-step2 dd:nth-child(14) {
  background: rgba(204, 153, 98, 0.3);
  animation-delay: 5.6s;
}
.c-grid-step2 dd:nth-child(15) {
  background: rgba(198, 113, 190, 0.25);
  animation-delay: 6s;
}
.c-grid-step2 dd:nth-child(16) {
  background: rgba(67, 215, 6, 0.2);
  animation-delay: 6.4s;
}
.c-grid-step2 dd:nth-child(17) {
  background: rgba(239, 141, 216, 0.15);
  animation-delay: 6.8s;
}
.c-grid-step2 dd:nth-child(18) {
  background: rgba(185, 153, 186, 0.1);
  animation-delay: 7.2s;
}
.c-grid-step2 dd:nth-child(19) {
  background: rgba(61, 90, 143, 0.05);
  animation-delay: 7.6s;
}
.c-grid-step2 dd:nth-child(20) {
  background: rgba(185, 194, 106, 0);
  animation-delay: 8s;
}
.c-grid-step2 dd::before {
  content: counter(num);
}

.c-fit-content {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: fit-content(150px) fit-content(150px) auto;
  grid-gap: 10px;
}
.c-fit-content dd {
  word-wrap: break-word;
  word-break: break-all;
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-fit-content dd:nth-child(1) {
  background: rgba(54, 36, 185, 0.95);
  animation-delay: 0.4s;
}
.c-fit-content dd:nth-child(2) {
  background: rgba(238, 205, 152, 0.9);
  animation-delay: 0.8s;
}
.c-fit-content dd:nth-child(3) {
  background: rgba(188, 55, 179, 0.85);
  animation-delay: 1.2s;
}
.c-fit-content dd:nth-child(4) {
  background: rgba(209, 180, 141, 0.8);
  animation-delay: 1.6s;
}
.c-fit-content dd:nth-child(5) {
  background: rgba(82, 169, 144, 0.75);
  animation-delay: 2s;
}
.c-fit-content dd:nth-child(6) {
  background: rgba(102, 204, 25, 0.7);
  animation-delay: 2.4s;
}
.c-fit-content dd:nth-child(7) {
  background: rgba(153, 127, 125, 0.65);
  animation-delay: 2.8s;
}
.c-fit-content dd:nth-child(8) {
  background: rgba(10, 126, 194, 0.6);
  animation-delay: 3.2s;
}
.c-fit-content dd:nth-child(9) {
  background: rgba(9, 166, 146, 0.55);
  animation-delay: 3.6s;
}
.c-fit-content dd:nth-child(10) {
  background: rgba(99, 9, 147, 0.5);
  animation-delay: 4s;
}
.c-fit-content dd:nth-child(11) {
  background: rgba(12, 159, 61, 0.45);
  animation-delay: 4.4s;
}
.c-fit-content dd:nth-child(12) {
  background: rgba(40, 242, 238, 0.4);
  animation-delay: 4.8s;
}
.c-fit-content dd:nth-child(13) {
  background: rgba(7, 150, 69, 0.35);
  animation-delay: 5.2s;
}
.c-fit-content dd:nth-child(14) {
  background: rgba(160, 55, 159, 0.3);
  animation-delay: 5.6s;
}
.c-fit-content dd:nth-child(15) {
  background: rgba(87, 214, 102, 0.25);
  animation-delay: 6s;
}
.c-fit-content dd:nth-child(16) {
  background: rgba(114, 119, 185, 0.2);
  animation-delay: 6.4s;
}
.c-fit-content dd:nth-child(17) {
  background: rgba(2, 7, 104, 0.15);
  animation-delay: 6.8s;
}
.c-fit-content dd:nth-child(18) {
  background: rgba(11, 28, 185, 0.1);
  animation-delay: 7.2s;
}
.c-fit-content dd:nth-child(19) {
  background: rgba(152, 151, 139, 0.05);
  animation-delay: 7.6s;
}
.c-fit-content dd:nth-child(20) {
  background: rgba(6, 24, 244, 0);
  animation-delay: 8s;
}
.c-fit-content dd::before {
  content: counter(num);
}

.c-minmax {
  width: 500px;
  min-height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(50px, min-content) minmax(100px, max-content);
  gap: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.c-minmax dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.c-minmax dd:nth-child(1) {
  background: rgba(213, 129, 62, 0.95);
  animation-delay: 0.4s;
}
.c-minmax dd:nth-child(2) {
  background: rgba(80, 198, 232, 0.9);
  animation-delay: 0.8s;
}
.c-minmax dd:nth-child(3) {
  background: rgba(45, 63, 122, 0.85);
  animation-delay: 1.2s;
}
.c-minmax dd:nth-child(4) {
  background: rgba(107, 187, 214, 0.8);
  animation-delay: 1.6s;
}
.c-minmax dd:nth-child(5) {
  background: rgba(249, 221, 194, 0.75);
  animation-delay: 2s;
}
.c-minmax dd:nth-child(6) {
  background: rgba(176, 239, 39, 0.7);
  animation-delay: 2.4s;
}
.c-minmax dd:nth-child(7) {
  background: rgba(113, 246, 55, 0.65);
  animation-delay: 2.8s;
}
.c-minmax dd:nth-child(8) {
  background: rgba(102, 168, 219, 0.6);
  animation-delay: 3.2s;
}
.c-minmax dd:nth-child(9) {
  background: rgba(20, 88, 66, 0.55);
  animation-delay: 3.6s;
}
.c-minmax dd:nth-child(10) {
  background: rgba(97, 64, 90, 0.5);
  animation-delay: 4s;
}
.c-minmax dd:nth-child(11) {
  background: rgba(45, 188, 83, 0.45);
  animation-delay: 4.4s;
}
.c-minmax dd:nth-child(12) {
  background: rgba(93, 239, 245, 0.4);
  animation-delay: 4.8s;
}
.c-minmax dd:nth-child(13) {
  background: rgba(57, 1, 24, 0.35);
  animation-delay: 5.2s;
}
.c-minmax dd:nth-child(14) {
  background: rgba(204, 29, 234, 0.3);
  animation-delay: 5.6s;
}
.c-minmax dd:nth-child(15) {
  background: rgba(239, 126, 170, 0.25);
  animation-delay: 6s;
}
.c-minmax dd:nth-child(16) {
  background: rgba(135, 234, 180, 0.2);
  animation-delay: 6.4s;
}
.c-minmax dd:nth-child(17) {
  background: rgba(119, 148, 19, 0.15);
  animation-delay: 6.8s;
}
.c-minmax dd:nth-child(18) {
  background: rgba(19, 233, 19, 0.1);
  animation-delay: 7.2s;
}
.c-minmax dd:nth-child(19) {
  background: rgba(164, 75, 106, 0.05);
  animation-delay: 7.6s;
}
.c-minmax dd:nth-child(20) {
  background: rgba(10, 53, 68, 0);
  animation-delay: 8s;
}

.c-repeat-auto-fill {
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.c-repeat-auto-fill dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-repeat-auto-fill dd:nth-child(1) {
  background: rgba(50, 174, 8, 0.95);
  animation-delay: 0.4s;
}
.c-repeat-auto-fill dd:nth-child(2) {
  background: rgba(252, 97, 236, 0.9);
  animation-delay: 0.8s;
}
.c-repeat-auto-fill dd:nth-child(3) {
  background: rgba(191, 237, 180, 0.85);
  animation-delay: 1.2s;
}
.c-repeat-auto-fill dd:nth-child(4) {
  background: rgba(182, 21, 221, 0.8);
  animation-delay: 1.6s;
}
.c-repeat-auto-fill dd:nth-child(5) {
  background: rgba(254, 83, 223, 0.75);
  animation-delay: 2s;
}
.c-repeat-auto-fill dd:nth-child(6) {
  background: rgba(128, 125, 223, 0.7);
  animation-delay: 2.4s;
}
.c-repeat-auto-fill dd:nth-child(7) {
  background: rgba(51, 200, 100, 0.65);
  animation-delay: 2.8s;
}
.c-repeat-auto-fill dd:nth-child(8) {
  background: rgba(213, 177, 5, 0.6);
  animation-delay: 3.2s;
}
.c-repeat-auto-fill dd:nth-child(9) {
  background: rgba(234, 223, 156, 0.55);
  animation-delay: 3.6s;
}
.c-repeat-auto-fill dd:nth-child(10) {
  background: rgba(113, 210, 35, 0.5);
  animation-delay: 4s;
}
.c-repeat-auto-fill dd:nth-child(11) {
  background: rgba(185, 217, 96, 0.45);
  animation-delay: 4.4s;
}
.c-repeat-auto-fill dd:nth-child(12) {
  background: rgba(34, 38, 186, 0.4);
  animation-delay: 4.8s;
}
.c-repeat-auto-fill dd:nth-child(13) {
  background: rgba(85, 167, 112, 0.35);
  animation-delay: 5.2s;
}
.c-repeat-auto-fill dd:nth-child(14) {
  background: rgba(165, 198, 98, 0.3);
  animation-delay: 5.6s;
}
.c-repeat-auto-fill dd:nth-child(15) {
  background: rgba(17, 116, 212, 0.25);
  animation-delay: 6s;
}
.c-repeat-auto-fill dd:nth-child(16) {
  background: rgba(251, 79, 63, 0.2);
  animation-delay: 6.4s;
}
.c-repeat-auto-fill dd:nth-child(17) {
  background: rgba(33, 197, 216, 0.15);
  animation-delay: 6.8s;
}
.c-repeat-auto-fill dd:nth-child(18) {
  background: rgba(187, 225, 93, 0.1);
  animation-delay: 7.2s;
}
.c-repeat-auto-fill dd:nth-child(19) {
  background: rgba(56, 102, 167, 0.05);
  animation-delay: 7.6s;
}
.c-repeat-auto-fill dd:nth-child(20) {
  background: rgba(238, 234, 160, 0);
  animation-delay: 8s;
}
.c-repeat-auto-fill dd::before {
  content: counter(num);
}

.c-repeat-auto-fit {
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.c-repeat-auto-fit dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-repeat-auto-fit dd:nth-child(1) {
  background: rgba(84, 80, 203, 0.95);
  animation-delay: 0.4s;
}
.c-repeat-auto-fit dd:nth-child(2) {
  background: rgba(37, 146, 49, 0.9);
  animation-delay: 0.8s;
}
.c-repeat-auto-fit dd:nth-child(3) {
  background: rgba(69, 215, 60, 0.85);
  animation-delay: 1.2s;
}
.c-repeat-auto-fit dd:nth-child(4) {
  background: rgba(56, 21, 51, 0.8);
  animation-delay: 1.6s;
}
.c-repeat-auto-fit dd:nth-child(5) {
  background: rgba(192, 81, 240, 0.75);
  animation-delay: 2s;
}
.c-repeat-auto-fit dd:nth-child(6) {
  background: rgba(58, 100, 28, 0.7);
  animation-delay: 2.4s;
}
.c-repeat-auto-fit dd:nth-child(7) {
  background: rgba(72, 95, 93, 0.65);
  animation-delay: 2.8s;
}
.c-repeat-auto-fit dd:nth-child(8) {
  background: rgba(94, 222, 94, 0.6);
  animation-delay: 3.2s;
}
.c-repeat-auto-fit dd:nth-child(9) {
  background: rgba(72, 77, 62, 0.55);
  animation-delay: 3.6s;
}
.c-repeat-auto-fit dd:nth-child(10) {
  background: rgba(34, 116, 242, 0.5);
  animation-delay: 4s;
}
.c-repeat-auto-fit dd:nth-child(11) {
  background: rgba(152, 175, 240, 0.45);
  animation-delay: 4.4s;
}
.c-repeat-auto-fit dd:nth-child(12) {
  background: rgba(48, 66, 88, 0.4);
  animation-delay: 4.8s;
}
.c-repeat-auto-fit dd:nth-child(13) {
  background: rgba(17, 218, 212, 0.35);
  animation-delay: 5.2s;
}
.c-repeat-auto-fit dd:nth-child(14) {
  background: rgba(175, 170, 130, 0.3);
  animation-delay: 5.6s;
}
.c-repeat-auto-fit dd:nth-child(15) {
  background: rgba(19, 104, 197, 0.25);
  animation-delay: 6s;
}
.c-repeat-auto-fit dd:nth-child(16) {
  background: rgba(113, 59, 81, 0.2);
  animation-delay: 6.4s;
}
.c-repeat-auto-fit dd:nth-child(17) {
  background: rgba(250, 213, 99, 0.15);
  animation-delay: 6.8s;
}
.c-repeat-auto-fit dd:nth-child(18) {
  background: rgba(87, 42, 124, 0.1);
  animation-delay: 7.2s;
}
.c-repeat-auto-fit dd:nth-child(19) {
  background: rgba(183, 137, 248, 0.05);
  animation-delay: 7.6s;
}
.c-repeat-auto-fit dd:nth-child(20) {
  background: rgba(55, 212, 207, 0);
  animation-delay: 8s;
}
.c-repeat-auto-fit dd::before {
  content: counter(num);
}

.c-areas {
  width: 500px;
  min-height: 500px;
  display: grid;
  grid-gap: 1px;
  margin: 20px auto;
  grid-template: "a a a" 1fr "b c c" 1fr "b d d" 1fr "e e e" 1fr/minmax(100px, auto) minmax(100px, 1fr) fit-content(200px);
}
.c-areas dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.c-areas dd:nth-child(1) {
  background: rgba(34, 25, 117, 0.95);
  animation-delay: 0.4s;
}
.c-areas dd:nth-child(2) {
  background: rgba(161, 82, 72, 0.9);
  animation-delay: 0.8s;
}
.c-areas dd:nth-child(3) {
  background: rgba(144, 235, 165, 0.85);
  animation-delay: 1.2s;
}
.c-areas dd:nth-child(4) {
  background: rgba(178, 6, 5, 0.8);
  animation-delay: 1.6s;
}
.c-areas dd:nth-child(5) {
  background: rgba(115, 111, 87, 0.75);
  animation-delay: 2s;
}
.c-areas dd:nth-child(6) {
  background: rgba(173, 74, 246, 0.7);
  animation-delay: 2.4s;
}
.c-areas dd:nth-child(7) {
  background: rgba(172, 56, 108, 0.65);
  animation-delay: 2.8s;
}
.c-areas dd:nth-child(8) {
  background: rgba(226, 193, 80, 0.6);
  animation-delay: 3.2s;
}
.c-areas dd:nth-child(9) {
  background: rgba(254, 26, 119, 0.55);
  animation-delay: 3.6s;
}
.c-areas dd:nth-child(10) {
  background: rgba(246, 189, 37, 0.5);
  animation-delay: 4s;
}
.c-areas dd:nth-child(11) {
  background: rgba(118, 144, 65, 0.45);
  animation-delay: 4.4s;
}
.c-areas dd:nth-child(12) {
  background: rgba(137, 172, 98, 0.4);
  animation-delay: 4.8s;
}
.c-areas dd:nth-child(13) {
  background: rgba(241, 174, 8, 0.35);
  animation-delay: 5.2s;
}
.c-areas dd:nth-child(14) {
  background: rgba(179, 47, 16, 0.3);
  animation-delay: 5.6s;
}
.c-areas dd:nth-child(15) {
  background: rgba(210, 2, 93, 0.25);
  animation-delay: 6s;
}
.c-areas dd:nth-child(16) {
  background: rgba(163, 103, 211, 0.2);
  animation-delay: 6.4s;
}
.c-areas dd:nth-child(17) {
  background: rgba(17, 173, 186, 0.15);
  animation-delay: 6.8s;
}
.c-areas dd:nth-child(18) {
  background: rgba(80, 8, 163, 0.1);
  animation-delay: 7.2s;
}
.c-areas dd:nth-child(19) {
  background: rgba(9, 232, 173, 0.05);
  animation-delay: 7.6s;
}
.c-areas dd:nth-child(20) {
  background: rgba(87, 184, 194, 0);
  animation-delay: 8s;
}
.c-areas .a {
  grid-area: a;
}
.c-areas .b {
  grid-area: b;
}
.c-areas .c {
  grid-area: c;
}
.c-areas .d {
  grid-area: d;
}
.c-areas .e {
  grid-area: e;
}

.c-areas-column {
  width: 500px;
  min-height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template: "a . ." 1fr "a . ." 1fr/1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 1px;
}
.c-areas-column dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-areas-column dd:nth-child(1) {
  background: rgba(255, 48, 209, 0.95);
  animation-delay: 0.4s;
}
.c-areas-column dd:nth-child(2) {
  background: rgba(183, 19, 1, 0.9);
  animation-delay: 0.8s;
}
.c-areas-column dd:nth-child(3) {
  background: rgba(184, 114, 106, 0.85);
  animation-delay: 1.2s;
}
.c-areas-column dd:nth-child(4) {
  background: rgba(18, 155, 116, 0.8);
  animation-delay: 1.6s;
}
.c-areas-column dd:nth-child(5) {
  background: rgba(61, 189, 126, 0.75);
  animation-delay: 2s;
}
.c-areas-column dd:nth-child(6) {
  background: rgba(112, 219, 125, 0.7);
  animation-delay: 2.4s;
}
.c-areas-column dd:nth-child(7) {
  background: rgba(206, 1, 13, 0.65);
  animation-delay: 2.8s;
}
.c-areas-column dd:nth-child(8) {
  background: rgba(102, 174, 54, 0.6);
  animation-delay: 3.2s;
}
.c-areas-column dd:nth-child(9) {
  background: rgba(31, 166, 240, 0.55);
  animation-delay: 3.6s;
}
.c-areas-column dd:nth-child(10) {
  background: rgba(214, 36, 149, 0.5);
  animation-delay: 4s;
}
.c-areas-column dd:nth-child(11) {
  background: rgba(69, 173, 182, 0.45);
  animation-delay: 4.4s;
}
.c-areas-column dd:nth-child(12) {
  background: rgba(242, 116, 137, 0.4);
  animation-delay: 4.8s;
}
.c-areas-column dd:nth-child(13) {
  background: rgba(226, 127, 53, 0.35);
  animation-delay: 5.2s;
}
.c-areas-column dd:nth-child(14) {
  background: rgba(117, 128, 4, 0.3);
  animation-delay: 5.6s;
}
.c-areas-column dd:nth-child(15) {
  background: rgba(168, 200, 80, 0.25);
  animation-delay: 6s;
}
.c-areas-column dd:nth-child(16) {
  background: rgba(214, 75, 81, 0.2);
  animation-delay: 6.4s;
}
.c-areas-column dd:nth-child(17) {
  background: rgba(77, 122, 97, 0.15);
  animation-delay: 6.8s;
}
.c-areas-column dd:nth-child(18) {
  background: rgba(104, 179, 136, 0.1);
  animation-delay: 7.2s;
}
.c-areas-column dd:nth-child(19) {
  background: rgba(253, 102, 107, 0.05);
  animation-delay: 7.6s;
}
.c-areas-column dd:nth-child(20) {
  background: rgba(17, 181, 216, 0);
  animation-delay: 8s;
}
.c-areas-column dd::before {
  content: counter(num);
}
.c-areas-column dd:first-child {
  grid-area: a;
}

.c-area-logogram {
  width: 500px;
  min-height: 200px;
  display: grid;
  margin: 0 auto;
  grid: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
  gap: 1px;
}
.c-area-logogram dd {
  min-height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  counter-increment: num;
}
.c-area-logogram dd:nth-child(1) {
  background: rgba(140, 36, 10, 0.95);
  animation-delay: 0.4s;
}
.c-area-logogram dd:nth-child(2) {
  background: rgba(225, 238, 153, 0.9);
  animation-delay: 0.8s;
}
.c-area-logogram dd:nth-child(3) {
  background: rgba(21, 139, 177, 0.85);
  animation-delay: 1.2s;
}
.c-area-logogram dd:nth-child(4) {
  background: rgba(5, 56, 151, 0.8);
  animation-delay: 1.6s;
}
.c-area-logogram dd:nth-child(5) {
  background: rgba(48, 162, 156, 0.75);
  animation-delay: 2s;
}
.c-area-logogram dd:nth-child(6) {
  background: rgba(184, 178, 96, 0.7);
  animation-delay: 2.4s;
}
.c-area-logogram dd:nth-child(7) {
  background: rgba(127, 195, 123, 0.65);
  animation-delay: 2.8s;
}
.c-area-logogram dd:nth-child(8) {
  background: rgba(106, 80, 21, 0.6);
  animation-delay: 3.2s;
}
.c-area-logogram dd:nth-child(9) {
  background: rgba(4, 246, 127, 0.55);
  animation-delay: 3.6s;
}
.c-area-logogram dd:nth-child(10) {
  background: rgba(64, 172, 189, 0.5);
  animation-delay: 4s;
}
.c-area-logogram dd:nth-child(11) {
  background: rgba(112, 55, 217, 0.45);
  animation-delay: 4.4s;
}
.c-area-logogram dd:nth-child(12) {
  background: rgba(1, 71, 59, 0.4);
  animation-delay: 4.8s;
}
.c-area-logogram dd:nth-child(13) {
  background: rgba(255, 18, 112, 0.35);
  animation-delay: 5.2s;
}
.c-area-logogram dd:nth-child(14) {
  background: rgba(178, 200, 147, 0.3);
  animation-delay: 5.6s;
}
.c-area-logogram dd:nth-child(15) {
  background: rgba(234, 19, 157, 0.25);
  animation-delay: 6s;
}
.c-area-logogram dd:nth-child(16) {
  background: rgba(48, 122, 254, 0.2);
  animation-delay: 6.4s;
}
.c-area-logogram dd:nth-child(17) {
  background: rgba(167, 247, 224, 0.15);
  animation-delay: 6.8s;
}
.c-area-logogram dd:nth-child(18) {
  background: rgba(216, 85, 166, 0.1);
  animation-delay: 7.2s;
}
.c-area-logogram dd:nth-child(19) {
  background: rgba(102, 100, 215, 0.05);
  animation-delay: 7.6s;
}
.c-area-logogram dd:nth-child(20) {
  background: rgba(43, 232, 8, 0);
  animation-delay: 8s;
}
.c-area-logogram dd::before {
  content: counter(num);
}
.c-area-logogram .item {
  grid-area: 1/2/3/4;
}

.c-area-classic {
  width: 300px;
  min-height: 200px;
  display: grid;
  margin: 20px auto;
}
.c-area-classic img,
.c-area-classic figcaption {
  grid-area: 1/2;
}
.c-area-classic figcaption {
  align-self: end;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 2;
}
.c-area-classic img {
  width: 100%;
  display: block;
  object-fit: cover;
}